.accessibility-form-container {
  width: 40vw;
  min-height: auto;
  position: relative;
  max-height: 90vh;
}

.accessibility-input-container {
  width: 40vw;
  display: flex;
  justify-content: center;
  animation: fadeIn 1s;
}

#pure-decoration-input {
  margin-bottom: 2.5vh;
}

.accessibility-header-container {
  width: 40vw;
  height: 95px;
  position: fixed;
  background-color: var(--white);
  z-index: 454;
  margin-top: -8px;
}

.accessibility-header-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accessibility-body-container {
  position: relative;
  top: calc(100px + 1vh);
  min-height: 70vh;
}

.accessibility-subtitle {
  width: 30%;
  text-align: center;
  font-size: 0.9em;
  color: #333;
  text-transform: uppercase;
}

.accessibility-percentage-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  position: relative;
}

.accessibility-percentage-label {
  width: auto;
  font-size: 0.85em;
}

.accessibility-progress {
  margin-left: 1vw;
  width: 80px;
  height: 80px;
  z-index: 205;
  position: absolute;
  right: calc(50% - 40px);
}

.accessibility-percentage-value {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: calc(50% - 40px);
  background-color: #f5f5f5;
  border-radius: 100%;
  z-index: 200;
  font-size: 0.8em;
}

.subtitle-divider {
  margin: 1.5vh 0 !important;
}

.accessibility-dialog-buttons {
  padding: 0 8px !important;
  position: relative !important;
  bottom: 8px !important;
  right: 8px !important;
}

.accessibility-question-form-control {
  width: 100% !important;
}

.dialog-input-file-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2.5vh;
  margin-bottom: 2.5vh;
}

.accessibility-form-title {
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.25em;
  color: #333;
  padding: 1.5vh 0;
}

.accessibility-form-label {
  letter-spacing: 1px !important;
  padding: 1vh 0 !important;
}

.accessibility-form-helper-text {
  display: flex;
  align-items: center;
}

.accessibility-form-helper-text span {
  margin: 0 0.25vw !important;
}

.help-label-medium {
  font-size: 0.95em;
}

.accessibility-form-helper-row {
  display: flex;
  align-items: center;
  padding: 0.75vh 0;
}

.accessibility-form-helper-row .MuiButton-textSecondary {
  margin-left: 0.5vw !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}

#long-description-position-container {
  display: flex;
  align-items: center;
}

#long-description-position-container #long-description-position-label {
  margin-right: 1.25vw;
}

.vertical-tabs-container {
  border-right: solid 1px #e0e0e0 !important;
}

.accessibility-form-side-container {
  max-width: 50vw !important;
  width: 40vw !important;
  min-width: 40vw !important;
  max-height: 75vh;
  overflow-y: scroll;
}

.a11yEditor {
  background-color: #333;
}

.a11yEditor-controls {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  margin-top: 1.5vh !important;
}
