.account-management-container {
  width: 100vw;
  height: calc(100vh - var(--app-bar-height));
  position: relative;
  top: var(--app-bar-height);
  display: flex;
  animation: fadeIn 0.5s;
}

.account-management-information {
  height: auto;
  width: 90%;
  padding: 5% 5%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.account-management-primary-text {
  font-size: 1.4em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333;
}

.account-management-secondary-text {
  font-size: 1.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #616161;
  padding: 1.5vh 0;
}

.account-management-file-column {
  width: var(--file-column-width);
  height: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-management-avatar {
  margin: 2.5% 0 !important;
  width: calc(var(--file-column-width) * 0.4) !important;
  height: calc(var(--file-column-width) * 0.4) !important;
  transition: 0.5s;
  animation: fadeInLeft 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.35s;
}

.account-management-avatar:hover {
  cursor: pointer;
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.account-management-actions-container {
  width: 100%;
  padding: 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
