.app-bar-container {
  max-width: 100%;
  min-width: 100%;
  height: var(--app-bar-height);
  background: var(--app-bar-color);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 15;
}

.app-bar-container-text{
 display: inline;
}


/* Media Queries: Tablet Landscape */
 @media screen and (max-width: 640px) {
  .app-bar-container-text {display: none !important;}
} 

.bar-title {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  color: var(--bar-font-color) !important;
  margin-left: calc(var(--menu-size) + 2vw) !important;
  font-size: 1.25em !important;
  font-weight: 500 !important;
  letter-spacing: 2.5px !important;
}

.bar-button-container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  padding: 0 1vw;
}

.bar-button {
  margin: 0 0.25vw !important;
  letter-spacing: 1px !important;
}

.bar-button {
  margin: 0 0.25vw !important;
  letter-spacing: 1px !important;

}

.bar-button1 {
  margin: 23px 0px 2px !important;
  letter-spacing: 1px !important;
  background-color: #e0e0e0 !important;
  font-size: 0.64rem !important;
  padding: 1px 1px;
}

.no-text-button {
  padding: calc(var(--app-bar-height) / 2.95) !important;
  border-radius: 100% !important;
}
