.content-information-container {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content-editor-title {
  text-align: center;
}

.content-type-icon {
  width: 2.75vh;
  height: 2.75vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.75vh;
  margin-right: 1vw;
}

.content-crud-button-container {
  position: absolute;
  right: 1.25vw;
  display: flex;
  justify-content: center;
}

.content-crud-button {
  font-size: 0.8em !important;
}

.simple-content-form-container {
  width: auto;
  padding: 2.5vh 1vw;
  height: auto;
}

.content-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  animation: fadeIn 1s;
}

.content-input {
  margin-top: 1vh !important;
  margin-bottom: 2vh !important;
}

.content-form-control {
  width: 100% !important;
  animation: fadeIn 1s !important;
}

.content-question-label {
  margin-left: 8px !important;
  animation: fadeIn 0.5s !important;
}

.content-radio-group {
  animation: fadeIn 0.5s !important;
}


.content-preview-container {
  width: 100%;
  height: auto;
  padding: 3vh;
  animation: fadeInDown 1s;
  background-color: #e0f2f1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.linear-creating-container {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

.radio-input {
  display: flex !important;
  align-items: center !important;
}

/* Image */

.gallery-content-form-container {
  width: 70vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  height: calc(67.5vh + 7.5px);
  overflow-x: hidden;
  overflow-y: hidden;
}

.gallery-content-row {
  max-width: 70vw;
  height: 45%;
  display: flex;
  justify-content: flex-start;
  overflow-y: hidden;
  align-items: center;
}

#gallery-content-row-overflow {
  justify-content: center;
  height: 50%;
}

.gallery-subtitle {
  width: 100%;
  font-size: 0.85em;
  letter-spacing: 0.75px;
  color: var(--primary);
  text-align: center;
  margin-top: 1.5vh;
}

.button-preview-column {
  width: 50%;
  height: auto;
}

.gallery-input-column {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-center-container {
  width: 100%;
  height: auto;
}

.button-icon-center-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-upload-icon {
  font-size: 6em;
  opacity: 0.75;
}

.gallery-upload-button{
  display: grid !important;
  padding: 4vh 5vw !important;
  border-radius: 0 !important;
  background-color: #ffffff !important;
  letter-spacing: 1px;
  color: #9e9e9e !important;
  font-size: 1em !important;
}

.content-radio-group-center {
  display: flex !important;
  justify-content: center !important;
  animation: fadeIn 1s;
  margin-top: 1vh !important;
}

.content-form-label-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
}

.center-form-group {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  animation: fadeIn 1s;
}

.gallery-content-input {
  width: 85% !important;
  margin: 0 7.5% !important;
  animation: fadeIn 1s;
}

.drag-class {
  background-color: rgba(0, 137, 123, 0.45);
  transition: 0.5s;
  cursor: grabbing;
}

.drop-class {
  transition: 0.5s;
}

#video-source-form-control {
  margin-top: 0.75vh;
}

.url-input-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.url-input {
  width: 25vw !important;
  animation: fadeIn 1s;
}
.url-input-storytelling {
  width: 100%;
  animation: fadeIn 1s;
}

.url-check-button {
  margin-left: 1vw !important;
  letter-spacing: 1px !important;
  margin-top: 0.75vh !important;
  animation: fadeIn 1s;
}

.url-helper-text {
  animation: fadeInUp 1s;
}

.uploading-library-content-container {
  width: 100%;
  height: auto;
}

.uploading-library-row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploading-library-text {
  font-size: 0.9em;
  letter-spacing: 1px;
  color: #616161;
  animation: fadeOut 2s infinite;
}

.uploading-library-progress-container {
  width: 3.75vw;
  height: 3.75vw;
  border-radius: 100%;
  background-color: #e0e0e0;
  margin-left: 1vw;
  position: relative;
}

.uploading-library-actions {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 3.5vh;
  animation: fadeInUp 1s;
}

.uploading-library-progress-text {
  width: 3.75vw;
  height: 3.75vw;
  border-radius: 100%;
  position: absolute;
  font-size: 0.8em;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.uploading-library-button {
  font-size: 0.85em;
  letter-spacing: 1px;
  padding: 0.25vh 1vw !important;
}


/* Link */

.link-content-form-container {
  width: 35vw;
  height: auto;
}

.insert-link-content-input {
  width: 100% !important;
}

.insert-link-action-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.preview-subtitle {
  width: 100%;
  text-align: center;
  font-size: 0.85em;
  color: var(--primary);
}

.link-preview-container {
  font-size: 0.8em;
  max-height: 10vh;
  margin: 2vh 0;
  overflow-y: scroll;
}

.link-button {
  padding: 0 0 !important;
  font-size: 0.8em !important;
  margin: 0 4px !important;
}

.h5p-content-form {
  width: 30vw;
}

.activity-form-container {
  width: 30vw;
}
