.course-presentation-container {
  max-width: 100vw;
  height: auto;
  overflow-x: hidden;
}

.course-presentation-hero-container {
  width: 100%;
  height: calc(100vh - var(--app-bar-height));
  display: flex;
  background-color: #f5f5f5;
}

.course-presentation-hero-column {
  width: 45vw;
  height: 100%;
  padding-left: 5vw;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.course-presentation-hero-title {
  font-size: 7.5vh;
  text-transform: uppercase;
}

.course-presentation-hero-subtitle {
  font-size: 2.5vh;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course-presentation-hero-media-paper {
  position: relative;
  width: 22.5vw;
  height: 22.5vw;
}

.course-presentation-hero-fab {
  background-color: #fafafa !important;
  position: absolute !important;
  bottom: 5vh !important;
  left: 5vw !important;
}

.course-presentation-hero-normal {
  font-size: 2vh;
  letter-spacing: 1.5px;
  color: #333333;
  margin-top: 0.5vh;
}

#course-presentation-hero-media-image {
  top: 5.625vw;
  left: 11.25vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
  animation: fadeInRight 0.75s;
  animation-fill-mode: backwards;
  animation-delay: 0.75s;
}

#course-presentation-hero-media-color {
  bottom: 5.625vw;
  z-index: 4;
  border-radius: 100% !important;
  animation: fadeInUp 1s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

.course-presentation-hero-media-column {
  width: 50vw;
  height: 100%;
}

.course-presentation-description {
  width: 90%;
  height: auto;
  padding: 15vh 5vw;
  padding-bottom: 12.5vh;
  text-align: justify;
  font-size: 3vh;
  letter-spacing: 1px;
  color: #333333;
  line-height: 1.5em;
}

.course-other-information-container {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2.5vh 0;
  padding-bottom: 12.5vh;
}

.course-card-information {
  height: 30vh;
  width: 25vw;
  margin: 0 1.5vw;
  opacity: 0.9;
  transition: 0.5s !important;
}

.course-card-information:hover {
  opacity: 1;
  cursor: pointer;
}

.course-card-title {
  width: 90%;
  height: 10vh;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 5%;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-card-presentation-content {
  width: 100%;
  padding-top: 1vh;
  height: 12.5vh;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: 0.5s !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.course-card-presentation-icon {
  font-size: 3.5em !important;
}

.course-card-large-text {
  font-size: 1.75em;
  letter-spacing: 2px;
  padding-right: 12px;
  padding-left: 6px;
  text-transform: uppercase;
}

.course-card-medium-text {
  font-size: 1.15em;
  letter-spacing: 1px;
  padding-right: 12px;
  padding-left: 6px;
  text-transform: uppercase;
}

.course-card-small-text {
  font-size: 0.95em;
  letter-spacing: 1px;
  padding-right: 12px;
  padding-left: 6px;
  width: 10vw;
  text-transform: uppercase;
}

.course-requirement-information {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2.5vh;
  padding-bottom: 15vh;
}

.course-requirement-information-title {
  width: 90%;
  padding: 2vh 5%;
  font-size: 1.75em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #333;
}

.course-carousel-container {
  margin-top: 7.5vh;
  width: 500px;
}

.course-carousel-title {
  letter-spacing: 1px !important;
  color: var(--primary) !important;
  text-transform: uppercase !important;
}

.course-carousel-content {
  height: 25vh;
  padding: 1vh 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  letter-spacing: 1px;
  font-size: 0.95em;
  color: #616161;
}

.course-requirements-disabilities-container {
  height: 45vh;
  width: calc(80vw - 600px);
  margin-top: 7.5vh;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  position: relative;
  background-image: url(support.svg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.course-requirements-disabilities-title {
  width: 100%;
  text-align: center;
  color: var(--secondary);
  letter-spacing: 1px;
  font-size: 1.45em;
  padding: 2vh 0;
}

.course-requirements-disabilities-description {
  width: 60%;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 3vh;
  z-index: 10;
}

.course-requirements-accessibility-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc((80vw - 600px) / 2.35);
  height: calc((80vw - 600px) / 2.35);
  background-color: var(--primary);
  z-index: 5;
  border-top-left-radius: 100%;
  background-image: url(accessibility-w.svg);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 75% 105%;
}


.course-requirements-accessibility-button {
  z-index: 10 !important;
}

.course-technical-requirements-container {
  width: 80%;
  padding: 2.5vh 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.course-technical-requirement-button {
  width: 250px !important;
  height: 100px !important;
  font-size: 1.25em !important;
  letter-spacing: 1px !important;
  margin: 1vh 1vw !important;
  color: #333;
}

.course-technical-requirement-title {
  font-size: 1.05em !important;
  text-transform: uppercase;
  letter-spacing: 1px !important;
  text-align: center !important;
  padding: 1.5vh 0 !important;
}

.course-technical-requirement-description {
  font-size: 0.95em !important;
  letter-spacing: 1px;
  text-align: justify;
  padding-bottom: 2.5vh;
}

.course-presentation-footer {
  height: 20vh;
  width: 100%;
  background-color: var(--app-bar-color);
  position: relative;
}

.course-presentation-copyright-text {
  width: 100%;
  height: auto;
  background-color: #333;
  color: var(--white);
  padding: 1.5vh 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  letter-spacing: 1px;
}

.no-app-bar-container {
  width: 100vw;
  max-height: calc(100vh);
  height: calc(100vh);
  overflow-y: scroll;
  position: relative;
}
