.video-form {
  width: 40vw;
  height: auto;
}

.dialog-form-container-large {
  width: calc(70vw - 100px);
}

.dialog-columns-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.form-column-container {
  margin-top: 3vh;
  margin-left: 1vw;
  position: relative;
  align-items: center;
  height: 100%;
  justify-content: center;
  animation: fadeIn 0.5s;
}

.course-creator-form-column {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.course-creator-file-form-column {
  width: 50%;
  height: 100%;
}

.course-creator-default-form-column {
  width: 50%;
  height: 100%;
  align-items: center;
  margin: auto;
  position: relative;
}

.form-padding-dialog-input {
  width: 90%;
  position: relative;
  left: 5%;
}

.course-creator-input-container {
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .accessibility-form-helper-text {width: 77% !important}
  .form-file-container {width: 77% !important; margin-left: 30px;}
  .dialog-form-container {
    max-width: 77vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .margin-center-row {flex-wrap: wrap;}
  .course-creator-file-form-column {max-width: 77% !important}
  .editor-tools {flex-wrap: wrap !important;}
  .center-button-container {margin-bottom: 30px !important;}
  .editor-label{font-size: 0.9em !important; margin-left: 5px !important; }
  .link-content-form-container { width: auto !important;}
  .unity-form {width: auto !important;}
}


.compressed{
  justify-content: center;
}

.course-creator-collection-actions-container {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 68px;
  margin-left: 1vw;
  z-index: 200;
  animation: fadeInUp 0.5s;
  animation-fill-mode: backwards;
    animation-delay: 0.25s
}

.course-creator-collection-selector-container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 1vw;
}

.course-creator-collection-button {
  padding: 0 !important;
  width: 15% !important;
  min-width: 15% !important;
  border-radius: 0 !important;
}

.uploadsignals{
  border-radius: 15px;
  margin-bottom: 25px;
}