.course-creator-container {
  width: 100%;
  height: auto;
  animation: fadeIn 1s;
  border-top: solid 1px #e0e0e0;
}

.course-creator-units-container {
  width: calc(100% - var(--course-tool-menu-size));
  height: 27.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: #fafafa;
  position: relative;
}

.course-creator-unit-container {
  width: auto;
  height: 100%;
  padding: 0.5vh 1vw;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 2vw;
  user-select: none;
  color: #333;
  margin: 0 1vw;
}

.course-creator-unit-container:hover {
  background-color: var(--primary);
  color: var(--white);
}

.course-creator-unit-lesson-item-container {
  display: flex;
}

.menu-item-buttons-container {
  text-transform: uppercase !important;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}

.course-creator-unit-lesson-item-text {
  width: 80% !important;
  margin-right: 1vw;
}

.MuiMenuItem-root {
  min-height: auto !important;
}

.MuiList-padding {
  padding: 4px 0px !important;
}

.MuiMenuItem-gutters {
  padding-right: 4px !important;
}

.course-creator-work-area {
  width: 100%;
  background-color: #e0e0e0;
  overflow-x: hidden;
  display: flex;
  position: relative;
  height: calc(
    100vh -
    (
      var(--app-bar-height) +
      1.3em +
      3vh +
      4.5vh +
      30px +
      27.5px +
      2.25vh
    )
  );
}

.course-creator-drop-area {
  width: calc(100vw - var(--course-tool-menu-size));
  overflow-y: scroll;
  background-color: var(--white);
}

.course-creator-menu-area {
  width: var(--course-tool-menu-size);
  background-color: #eeeeee;
  height: calc(
    100vh -
    (
      var(--app-bar-height) +
      1.3em +
      3vh +
      4.5vh +
      30px +
      1.5vh
    )
  );
  position: fixed;
  right: 0;
  top: calc(
    var(--app-bar-height) +
    1.3em +
    3vh +
    4.5vh +
    30px +
    0.7vh
  );
}

.unit-actions-button-container {
  width: calc(var(--course-tool-menu-size));
  display: flex;
  height: 100%;
  padding: 0.25vh 0;
  justify-content: center;
  position: absolute;
  right: 0;
}

.new-tool-button {
  max-height: 100% !important;
  padding: 0 1vw !important;
}

.bottom-navigation-container {
  bottom: 0px !important;
  position: absolute !important;
  width: var(--course-tool-menu-size) !important;
  background-color: transparent !important;
}

.bottom-menu-option {
  border-top: solid 0.5px !important;
}

.course-creator-menu-row {
  width: 100%;
  height: calc(var(--course-tool-menu-size) / 3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.course-creator-menu-option {
  width: calc(var(--course-tool-menu-size) / 3);
  height: 100%;
  opacity: 0.9;
  transition: 0.5s;
}

.course-creator-menu-option:hover {
  cursor: grab;
  opacity: 1;
  background-color: #cfd8dc;
}

.course-creator-menu-option:hover .course-creator-menu-icon {
  fill: var(--primary);
}

.course-creator-menu-option:hover .course-creator-menu-text{
  color: var(--primary);
}

.course-creator-menu-icon {
  fill: #333;
  transition: 0.5s;
}

.course-creator-menu-option-row {
  width: 100%;
  height: calc((var(--course-tool-menu-size) / 3) - 1.8em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-creator-menu-text {
  font-size: 0.75em;
  text-align: center;
  width: 100%;
  user-select: none;
  padding-bottom: 1vh;
  transition: 0.5s;
}

.h5p-logo {
  width: 100%;
  height: calc((var(--course-tool-menu-size) / 3) - 1.8em);
  background-image: url(H5P_Logo-g3.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: calc(100% / 2) calc(((var(--course-tool-menu-size) / 3) - 1.8em) / 8);
  background-repeat: no-repeat;
  background-size: contain;
}

.check-button {
  margin-left: 1vw !important;
  font-size: 0.8em !important;
  padding: 0.5vh 0.5vw !important;
}
