.requirements-container {
  width: 100%;
  height: 100%;
  position: relative;
  animation: fadeIn 1s;
  overflow-y: scroll;
}

.form-input-list {
  width: 75% !important;
  padding-left: 12.5% !important;
  padding-right: 12.5% !important;
}

.list-subheader {
  padding: 1vh 1.5vw !important;
  background-color: #fafafa !important;
}

.form-select-container {
  width: 100%;
  max-height: var(--list-height);
  margin-top: 16px;
  margin-bottom: 8px;
}

.form-select-container-column {
  height: auto;
}

.form-select-text {
  margin-right: 2vw;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: #616161;
  text-align: center;
}

.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-block {
  height: 30vh;
}

.form-list-text-item .MuiListItemText-secondary {
  padding-right: 2vw !important;
  text-align: justify !important;
}

.form-list-text-item .MuiListItemText-primary {
  letter-spacing: 1px !important;
}

.requirement-request-container {
  padding: 2.5vh 0 !important;
  margin-top: 10vh;
  margin-bottom: 20vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15em !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.request-button {
  margin: 0 !important;
  font-size: 1.15em !important;
  letter-spacing: 1px !important;
  margin-left: 0.5vw !important;
}

.form-radio-label {
  display: flex !important;
  align-items: center !important;
  margin-right: 14px !important;
}

@media only screen and (max-width: 1080px)  {
  .form-input-list {
    width: calc(100% - 2vw) !important;
    padding: 0 1vw !important;
  }
  .list-subheader {
    padding: 0vh 1.5vw !important;
  }
}