.course-container {
  width: 100vw;
  max-height: calc(100vh - var(--app-bar-height));
  height: calc(100vh - var(--app-bar-height));
  position: relative;
  top: var(--app-bar-height);
}

.loading-course-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-content-container {
  width: calc(100% - 130px);
  height: calc(100% - 20vh);
  padding: 10vh 65px;
  overflow-y: scroll;
}

.course-content-breadcrumbs-paper {
  display: flex;
  align-items: center;
  position: absolute;
  top: calc(15px);
  min-height: 40px;
  margin-left: -50px;
  margin-right: 200px;
  background-color: #fafafa;
  opacity: 0.8;
  z-index: 100;
  text-transform: none !important;
}

.course-content-breadcrumbs-paper-quiz {
  display: flex;
  align-items: center;
  position: absolute;
  top: calc(var(--app-bar-height) + 15px);
  min-height: 40px;
  margin-left: 60px;
  margin-right: 200px;
  background-color: #fafafa;
  opacity: 0.8;
  z-index: 100;
  text-transform: none !important;
}

.course-content-breadcrumb-text {
  letter-spacing: 1px !important;
  transition: 0.5s !important;
  cursor: pointer;
  font-size: 0.9em !important;
}

.course-content-breadcrumb-text:hover {
  color: var(--primary) !important;
}

#course-content-breadcrumb-actual {
  color: #212121 !important;
}

.course-content-footer-actions {
  width: calc(100% - 10vw);
  padding: 5vh 5vw;
  display: flex;
  justify-content: flex-end;
}

.course-content-footer-button {
  letter-spacing: 2px !important;
  font-size: 1.5em !important;
  border-radius: 0 !important;
  background-color: #fafafa !important;
  color: #333 !important;
}

.import-button-container {
  width: 100%;
  margin-top: 10px;
  height: calc(0.8em + 15px);
  position: relative;
}

.course-content-import-button {
  font-size: 0.8em !important;
  border-radius: 0 !important;
  background-color: #fafafa !important;
  color: #333 !important;
  position: absolute !important;
  right: 2vw !important;
}

.course-content-import-image {
  margin-right: 10px;
}

.course-content-import-button-child{
  padding: 5px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.course-content-menu-button {
  letter-spacing: 1px !important;
  font-size: 1.25em !important;
  border-radius: 0 !important;
  color: #333 !important;
  padding-right: 10px;
}

.course-dial {
  position: fixed !important;
  bottom: 2.5vh !important;
  right: 1vw !important;
}

.course-dial .MuiFab-primary {
  width: 80px !important;
  height: 80px !important;
  background-image: linear-gradient(to right bottom, #00897b, #008c94, #008dad, #008cc2, #1976d2) !important;
  background-color: transparent !important;
}

.MuiSpeedDial-directionUp {
  align-items: center !important;
}

.course-dial-icon {
  font-size: 40px !important;
  animation: fadeIn 0.5s !important;
  transition: 0.5s !important;
}

.success-dialog-icon-small {
  font-size: 3em !important;
  margin: 0 0.5vw !important;
  color: #4caf50 !important;
  animation: tada 1.25s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

.course-content-footer-button-small {
  margin: 0 0.5vw !important;
  animation: fadeInUp 0.5s;
}

.course-content-footer-fab {
  margin: 0 0.25vw !important;
  background-color: #fafafa !important;
}

.course-content-footer-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5vw;
}

.design-expantion-panel-container {
  width: 100%;
  padding: 0 0;
  margin: 0 0;
}

.design-into-resources {
  width: calc(100% - 60px);
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.design-move-icons {
  color: var(--secondary) !important;
  border: 1px solid var(--secondary) !important;
}

.design-expantion-panel-icon {
  color: var(--secondary) !important;
}

.design-expantion-panel-summary{
  color: var(--secondary) !important;
  background-color: #202020f3 !important;
  border-radius: 5px !important;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1080px) {
  .design-into-resources {
    width: calc(100% - 4vw);
    padding: 0 2vw;
  }
  .course-container {
    width: 100vw !important;
  }
  .course-content-container {
    width: calc(100% - 0px);
    height: calc(100vh - var(--app-bar-height) - 4vh);
    padding: 2vh 0px;
  }
  .course-content-menu-button {
    display: none !important;
  }
  .course-content-breadcrumbs-paper {
    top: calc(1px);
    margin-left: 1px;
    margin-right: 70px;
  }
  .course-content-breadcrumbs-paper-quiz {
    top: calc(var(--app-bar-height) + 1px);
    margin-left: 1px;
    margin-right: 70px;
  }
} 