.course-container {
  width: 100vw;
  max-height: calc(100vh - var(--app-bar-height));
  height: calc(100vh - var(--app-bar-height));
  overflow-y: scroll;
  position: relative;
  top: var(--app-bar-height);
}

.loading-course-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
