.course-menu-button-container {
  position: fixed;
  top: calc(var(--app-bar-height) + 10px);
  right: 1vw;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 100%;
}

.course-menu-button {

}

.white-button {
  fill: var(--white);
  color: var(--white);
}

.course-menu-options-container {
  width: 500px;
  height: 100%;
  position: relative;
}

.course-menu-left-icon-container {
  position: absolute;
  top: 2px;
  left: 2px;
}

.course-menu-right-icon-container {
  position: absolute;
  top: 2px;
  right: 2px;
}

.course-menu-header {
  width: 100%;
  height: auto;
  background-color: var(--app-bar-color);
  color: var(--white);
  position: relative;
}

.course-menu-title {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 2px;
  padding: 1.5vh 0;
  user-select: none;
  text-transform: uppercase;
}

.course-menu-subtitle-container {
  width: 100%;
  text-align: center;
  font-size: 0.95em;
  color: #eeeeee;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5vh;
  padding-bottom: 2.5vh;
  user-select: none;
}

.menu-clock {
  margin-left: 1vw;
}

.course-menu-tools-container {
  position: absolute;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: -23px;
}

.course-menu-progress-container {
  width: 97.5%;
  height: 90px;
  position: absolute;
  bottom: -45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.course-menu-image-container {
  width: 90px;
  height: 90px;
  border-radius: 100% !important;
  background-position: center;
  background-size: 90px;
  background-repeat: no-repeat;
  z-index: 180;
}

.course-menu-progress-bar {
  width: 100%;
  position: absolute;
  height: auto;
  z-index: 120;
}

.course-menu-linear-progress {
  height: 7.5px !important;
}

.course-menu-progress-text {
  color: #000;
  margin-right: 1vw;
}

.course-menu-subheader {
  width: 100%;
  height: auto;
  padding: 1.5vh 0;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.course-menu-subheader-title {
  width: calc(95% - 90px - 1.5vw);
  padding-left: 1.5vw;
  word-break: break-all;
  letter-spacing: 1px;
  font-size: 0.9em;
}

.course-menu-subheader-subtitle {
  padding-left: 1.5vw;
  word-break: break-all;
  letter-spacing: 1px;
  font-size: 0.8em;
}

.course-dialog-app-bar {
  background-color: var(--app-bar-color) !important;
  height: var(--app-bar-height) !important;
}

.course-dialog-title {
  letter-spacing: 1px !important;
  font-size: 1.2em !important;
  text-transform: uppercase;
}

.course-dialog-content {
  width: 100%;
  height: calc(100% - var(--app-bar-height) - 0.4vh);
  max-height: calc(100% - var(--app-bar-height));
  background-color: #333;
}

.course-menu-navigation-container {
  width: 100%;
  max-height: 70vh;
  overflow-y: scroll;
}
