.management-container {
  width: 100vw;
  height: calc(100vh - var(--app-bar-height));
  top: var(--app-bar-height);
  position: relative;
  overflow-x: hidden;
}

.management-result-container {
  width: 100vw;
  height: calc(100vh - 2*var(--app-bar-height));
  max-height: calc(100vh - 2*var(--app-bar-height));
  position: relative;
  top: var(--app-bar-height);
  overflow: hidden;
}

.management-title {
  width: 100vw;
  height: calc(var(--app-bar-height) - 3vh);
  position: fixed;
  top: var(--app-bar-height);
  display: flex;
  align-items: center;
  padding: 1.5vh 0;
  color: #424242;
  background-color: #f5f5f5;
  text-indent: calc(var(--menu-size) + 2vw);
  letter-spacing: 2.75px;
  font-size: 1.4em;
  animation: fadeInDown 0.5s;
  z-index: 400;
}

.management-title-suggestion {
  width: auto;
  height: calc(var(--app-bar-height) - 3vh);
  top: var(--app-bar-height);
  right: 2vw;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 1.5vh 0;
  color: #424242;
  letter-spacing: 2px;
  font-size: 1em;
  animation: fadeInDown 0.5s;
  z-index: 500;
  text-align: right;
}

.management-title-icon {
  margin-left: 0.5vw !important;
  color: #424242 !important;
  font-size: 1.4em !important;
}

.management-table-button {
  padding: 2px 2px !important;
  letter-spacing: 1px !important;
  font-size: 0.95em !important;
  min-width: 0 !important;
}

.management-table-icon-button {
  padding: 4px !important;
  margin-right: 16px !important;
}

.management-table-container {
  width: 100vw;
  padding: 0 0vw;
  height: calc(100% - var(--app-bar-height));
}

.management-table-toolbar-title {
  letter-spacing: 1px !important;
  font-size: 0.95em !important;
  color: #424242;
}

.management-table-pagination {
  background-color: #eeeeee !important;
  position: fixed !important;
  bottom: 0px !important;
  left: 0px !important;
  width: 100vw !important;
  padding: 0.5vh 0 !important;
  animation: fadeInUp 1s;
  height: calc(var(--app-bar-height) - 1vh);
}

.management-table-pagination .MuiTablePagination-caption{
  font-size: 0.95em !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.management-table-pagination .MuiTablePagination-toolbar {
  padding-right: 2.5vw;
}

.management-table-root {
  width: 100%;
  height: 100%;
}

.management-table-paper {
  width: 100%;
  height: 100%;
}

.management-table-head { 
  padding-left: 3vw;
  padding-right: 2vw;
}

.management-table-content {
  overflow-x: auto;
  overflow-y: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  height: calc(100% - var(--app-bar-height) + 9px);
}


/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1080px) {
  .management-title-suggestion {
    display: none !important;
  }
  .management-table-content {
    padding-left: 1vw;
    padding-right: 0.5vw;
  }
}
