.dialog {
  padding: 0 !important;
  overflow-y: hidden !important;
}

.dialog-title {
  width: 100%;
  padding: 0 !important;
}

.dialog-toolbar-icon {
  color: var(--white) !important;
}

.dialog-app-bar {
  background-color: var(--app-bar-color) !important;
}

.dialog-tool-bar {
  color: var(--white) !important;
  padding-left: 1vw !important;
}

.dialog-tool-bar-information {
  min-width: 30vw;
  color: var(--white) !important;
  padding-left: 1vw !important;
}

.dialog-label-title {
  width: calc(100% - 75px) !important;
  color: var(--white) !important;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.9em;
  letter-spacing: 1px;
  padding-left: 1vw;
  user-select: none;
}

.dialog-content-dense {
  padding: 0 !important;
}

#close-icon {
  position: absolute;
  right: 0;
}

.dialog-actions-container {
  width: 100%;
  height: 46px;
  background-color: #eeeeee;
  position: relative;
}

.dialog-actions-container-reuse {
  width: 100%;
  background-color: #eeeeee;
  position: relative;
  text-align: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

.dialog-fab {
  position: absolute !important;
  right: 1vw !important;
  top: -28px !important;
}

.media-gallery-button-container {
  height: 56px;
  position: fixed !important;
  width: auto;
  margin-top: 10px;
  margin-left: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  animation: fadeInDown 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.25s;
}

.media-gallery-tab-button-container {
  height: 56px;
  position: fixed !important;
  width: auto;
  margin-top: 82px;
  margin-left: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  animation: fadeInDown 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.25s;
}

.library-button-container {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInDown 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.25s;
}

.menu-tab-button-container {
  width: calc(100% - 2vw);
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  justify-content: center;
  animation: fadeInDown 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.25s;
}

.media-fab-text {
  margin-left: 0.5vw;
  letter-spacing: 1px;
  font-size: 0.9em;
  text-transform: uppercase;
  user-select: none;
  pointer-events: none;
  border-radius: 10px;
  padding: 1px 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.dialog-form-container {
  width: 50vw;
  max-width: 100vw;
  height: auto;
  overflow: hidden !important;
  transition: 0.5s;
}

.form-tabs-container {
  width: 100%;
  position: relative;
}

.form-tabs-container-media {
  width: 33.33%;
  position: relative;
}

.form-tabs-container-time {
  width: 8vw;
  position: relative;
}

.form-tabs-container-media-time {
  width: 100%;
  position: relative;
}

.form-dialog-input {
  width: 90% !important;
  position: relative;
  left: 5%;
}

.inputs-block {
  margin-top: 2.5vh;
}

.size-text-input {
  width: 180px !important;
  margin: 0 5% !important;
}

.configure-accessibility-actions {
  width: 650px;
}

#dialog-max-height{
  position: relative;
  padding-bottom: 16px;
}

.scroll-media-input-container {
  height: calc(70vh - 200px);
}

.url-input {
  width: 90%;
}

.course-creator-player {
  max-width: calc(100% - 1vw);
  max-height: 360px;
  margin: 0px 0.5vw;
  animation: fadeInDown 0.5s;
  background-color: black;
}

.course-creator-preview-player {
  min-width: 360px !important;
  width: calc(100% - 1vw) !important;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  animation: fadeInDown 0.5s;
  background-color: black;
}

.course-creator-preview-player-storytelling {
  width: 100% !important;
  height: 100% !important;
  animation: fadeInDown 0.5s;
}

.success-dialog-title .MuiTypography-root{
  text-align: center !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  animation: fadeInDown 0.5s;
}

.success-dialog-content-text {
  text-align: justify;
  animation: fadeIn 0.75s;
  animation-fill-mode: backwards;
  animation-delay: 0.15s;
}

.copyright-dialog-content-text {
  white-space: pre-wrap;
  width: 40vw;
  text-align: justify;
  animation: fadeIn 0.75s;
  animation-fill-mode: backwards;
  animation-delay: 0.15s;
}

.copyright-dialog-content-data {
  display: flex;
}

.success-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-dialog-content-storytelling-time {
  width: 30vw !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-dialog-icon {
  margin-top: 2.5vh !important;
  font-size: 3.75em !important;
  color: #4caf50 !important;
  animation: tada 1.25s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

.warning-dialog-icon {
  margin-top: 2.5vh !important;
  font-size: 3.75em !important;
  color: #ffc107 !important;
  animation: tada 1.25s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

.alert-dialog-icon {
  margin-top: 2.5vh !important;
  font-size: 3.75em !important;
  color: #ff0707 !important;
  animation: tada 1.25s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

.media-dialog {

}

.app-tooltip {
  position: absolute;
  right: 1vw;
  letter-spacing: 1.5px;
  font-size: 0.75em;
  color: #f5f5f5;
}

.quiz-dialog-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.full-screen-dialog-mid-container {
  width: auto;
  height: 20vh;
  animation: fadeInDown 1s;
}

.quiz-dialog-content-text {
  width: 70% !important;
  word-break: break-all !important;
  letter-spacing: 1px !important;
  font-size: 1.5em !important;
  color: #616161 !important;
}

.quiz-dialog-icon-big {
  font-size: 5em !important;
  color: #616161 !important;
  margin-right: 2.5vw !important;
}

.dialog-confirmation-button {
  font-size: 1.25em !important;
  letter-spacing: 1px !important;
  margin: 5vh 1vw !important;
}

.comment-dialog-text-text {
  letter-spacing: 2px !important;
  text-align: center !important;
  text-transform: uppercase !important;
}

.comments-dialog {
  overflow-y: hidden;
}

.comments-dialog-content {
  padding-right: 0 !important;
  padding-bottom: 2.5vh !important;
}

.comment-dialog-title {
  text-align: center !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  background-color: #f5f5f5;
}

.management-dialog-form-content {
  display: flex !important;
  width: 30vw !important;
  flex-direction: column !important;
}

.classroom-dialog-title {
  width: 100%;
  text-indent: 2.5vw;
  font-size: 1.2em !important;
  letter-spacing: 1px !important;
  text-transform: uppercase;
  height: 1.75em !important;
  color: #333;
}

.classroom-management-students-container {
  width: calc(100% - 1vw);
  height: calc(100vh - var(--app-bar-height));
  max-height: calc(100vh - var(--app-bar-height));
  overflow-y: auto;
  padding-left: 1vw;
  background-color: white;
}

.classroom-dialog-content {
  flex-direction: column !important;
  padding: 0px 0px !important;
  overflow: hidden !important;
  background-color: white !important;
}

.feedbackRequirement {
  display: block;
}

.feedback-container {
  display: flex;
  align-items: center;
  max-width: 100vw;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1080px) {
  .dialog {
    width: 100vw !important;
  }
  .dialog-form-container {
    width: 86vw !important;
    justify-content: center;
    align-items: center;
  }
  .app-tooltip {
    display: none;
  }
  .course-creator-preview-player {
    min-width: 250px !important;
    height: 250px !important;
  }
  .course-creator-player {
    max-width: calc(100% - 25px) !important;
  }
  .configure-accessibility-actions {
    width: 100%;
  }
  .form-tabs-container-time {
    width: 95px;
    position: relative;
  }
  .success-dialog-content-storytelling-time {
    width: calc(75vw) !important;
  }
} 