.fr-view {
  min-height: 35vh !important;
  height: auto !important;
}

.editor-preview-dialog {
  min-width: 60vw !important;
  min-height: 60vh !important;
  width: auto !important;
  height: auto !important;
}

.editor-container {
  width: calc(100% - 1vw);
  height: auto;
  padding-right: 1vw;
  margin-top: 2.5vh;
}

.editor-tools {
  width: 100%;
  height: auto;
  color: var(--primary);
  display: flex;
  justify-content: center;
  margin: 1.5vh 0;
}

.editor-block {
  width: 100%;
  height: 30vh;
  animation: fadeInUp 0.35s;
}

.editor-button {
  padding: 0.5vh 0 !important;
  width: 1vw;
}

.editor-area {
  width: 100%;
}

.editor-iframe {
  width: 100%;
  height: 100%;
  border: solid 1px #bdbdbd;
  outline: none;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  padding-left: 14px;
  border-radius: 4px;
  font-family: sans-serif;
  transition: 0.5s;
}

.editor-icon {
  font-size: 1.15em !important;
}

.editor-link-form-container {
  width: 25vw;
  padding: 1.5vh 1.5vw;
}

.editor-form-button-container {
  width: 100%;
  height: auto;
  padding: 1.5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-form-title {
  width: 100%;
  height: auto;
  padding: 2.5vh 0;
  text-transform: uppercase;
  font-size: 1.15em;
  text-align: center;
  letter-spacing: 1px;
  color: var(--primary)
}
