.fr-view {
  min-height: 35vh !important;
  height: auto !important;
}

.editor-preview-dialog {
  min-width: 60vw !important;
  min-height: 60vh !important;
  width: auto !important;
  height: auto !important;
}

.editor-container {
  width: calc(100% - 1vw);
  height: auto;
  padding-right: 1vw;
  margin-top: 1vh;
}

.editor-tools {
  width: 100%;
  height: auto;
  color: var(--primary);
  display: flex;
  justify-content: center;
  margin: 1.5vh 0;
}

.editor-block {
  width: 100%;
  height: 30vh;
  animation: fadeInUp 0.35s;
}

.square-box{
  margin: 10px 10px;
  display: inline;
}
.editor-button {
  padding: 0.5vh 0 !important;
  width: 1vw;
}

.editor-area {
  width: 100%;
}

.editor-iframe {
  width: 90%;
  position: relative;
  left: 5%;
  height: 100%;
  border: solid 1px #bdbdbd;
  outline: none;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  padding-left: 14px;
  border-radius: 4px;
  font-family: sans-serif;
  transition: 0.5s;
}

.editor-icon {
  font-size: 1.15em !important;
}

.editor-link-form-container {
  width: 25vw;
  padding: 1.5vh 1.5vw;
}

.editor-form-button-container {
  width: 100%;
  height: auto;
  padding: 1.5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-form-title {
  width: 100%;
  height: auto;
  padding: 2.5vh 0;
  text-transform: uppercase;
  font-size: 1.15em;
  text-align: center;
  letter-spacing: 1px;
  color: var(--primary)
}

.last-child-button {
  padding-left: 8px !important;
}

.editor-label {
  margin-top: 1.5vh;
  text-align: center;
  font-size: 1.3em;
  color: #333;
  letter-spacing: 2px;
}

.editor-label1 {
  margin-top: 25px !important;
  text-align: center;
  font-size: 1.1em;
  color: #333;
  letter-spacing: 2px;
}

.editor-link-button {
  height: 40px !important;
  width: 40px !important;
  border: solid 1px #e0e0e0 !important;
}

.editor-link-button-story {
  height: 40px !important;
  color: #757575 !important;
  border: solid 1px #e0e0e0 !important;
}

.editor-icon-link {
  color: #757575 !important;
  fill: #757575 !important;
}
