.form-stepper-container {
  width: 100vw;
  position: absolute;
  top: var(--app-bar-height);
  height: calc(100vh - var(--app-bar-height));
  overflow: hidden;
}

.form-stepper-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  height: var(--form-stepper-height);
  position: relative;
  background-color: #f5f5f5;
  animation: fadeInDown 0.5s;
}

.form-stepper-navigation-id {
  width: 100%;
  display: flex;
  align-items: center;
  height: var(--form-stepper-height) !important;
  max-height: var(--form-stepper-height) !important;
  position: relative;
  background-color: #e8e8e8 !important;
  animation: fadeInDown 0.5s;
}

.form-stepper-navigation-bottom {
  width: 98vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: var(--form-stepper-height);
  position: fixed;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #f5f5f5;
  animation: fadeInDown 0.5s;
}

.form-stepper-large-steps {
  width: 100%;
  background-color: #e8e8e8 !important;
  padding: 0px !important;
  height: calc(100%) !important;
  overflow: hidden;
}

.navBar{
  display: flex;
  justify-content: flex-end;
}

.navBarBackNext {
  display: flex;
  align-items: center;
}

.parentNavBar{
  display: flex;
  justify-content: space-between;
}

.form-stepper-information {
  background-color: #e8e8e8;
  padding: 9px;
  display: inline !important;
  align-items: center !important;
  justify-content: center !important;
}

.form-stepper-information-id {
  background-color: #e8e8e8;
  padding: 9px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form-stepper-active-step {
  text-align: center;
  font-size: 13.5px;
  letter-spacing: 0.75px;
  color: #757575;
}

.form-stepper-active-step-id {
  text-align: center;
  font-size: 13.5px;
  letter-spacing: 0.75px;
  color: #757575;
}

.form-stepper-title {
  font-size: 28.5px;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.form-stepper {
  background-color: #f5f5f5 !important;
}

.form-stepper-id {
  width: calc(100% - 350px);
  position: absolute !important;
  right: 0 !important;
  background-color: #f5f5f5 !important;
}

.form-step {
  padding: 0px !important;
  margin: 0 10px;
}

.form-step-button {
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  padding: 0.5vh 2vw !important;
  transition: 0.5s;
  animation: fadeInDown 0.5s;
}

.form-step-button,
.form-step-button-id:hover {
  text-indent: 0.5vw;
}

.form-step-button-id {
  padding: 0.5vh 1vw !important;
  transition: 0.5s;
  animation: fadeInDown 0.5s;
}

.form-stepper-selector-button {
  height: var(--form-stepper-height) !important;
  border-radius: 0 !important;
  padding-left: 3vw !important;
  padding-right: 2.5vw !important;
  font-size: 15px !important;
  letter-spacing: 1px !important;
  margin-left: 1vw !important;
}

.form-stepper-actions {
  position: absolute;
  right: 0;
}

.form-stepper-complete-button {
  height: var(--form-stepper-height) !important;
  border-radius: 0 !important;
  font-size: 19.5px !important;
  padding-left: 3.5vw !important;
  padding-right: 3.5vw !important;
  opacity: 0.8;
  text-align: center;
}

.form-stepper-content {
  position: relative;
  height: calc(100vh - var(--form-stepper-height) - var(--app-bar-height));
}

.form-stepper-content-id {
  position: relative;
  height: calc(100vh - var(--form-stepper-height) - 2*var(--app-bar-height));
}

.form-step-completed-step-container {
  display: flex;
  align-items: center;
}

.form-step-completed-information {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-step-completed-text {
  font-size: 0.9em;
  color: #333;
  letter-spacing: 0.75px;
  padding: 0 1vw;
}

.form-stepper-done-icon {
  background-color: #4caf50 !important;
  fill: var(--white) !important;
  margin-right: 2vw;
}

.form-stepper-restart-button {
  height: var(--form-stepper-height) !important;
  border-radius: 0 !important;
  font-size: 17px !important;
  padding: 0 1vw !important;
  letter-spacing: 0.75px !important;
}

.form-stepper-edit-button {
  height: var(--form-stepper-height) !important;
  border-radius: 0 !important;
  font-size: 17px !important;
  padding: 0 1vw !important;
  letter-spacing: 0.75px !important;
}

.MuiStepLabel-label {
  letter-spacing: 2px !important;
  font-size: 0.9em !important;
  margin-left: 1vw !important;
}

.step-icon {
  font-size: 2.5em !important;
  color: #616161 !important;
}

#form-stepper-final-button {
  transition: 0.5s;
  opacity: 1;
}

@media only screen and (max-width: 1600px)  {
  .form-stepper-active-step-id {display: none !important;}
  .form-stepper-title {font-size: 21.5px !important;}
}

@media only screen and (max-width: 1080px)  {
  .form-stepper-information {
    padding: 9px;
    width: 50vw;
  }
  .form-stepper-navigation {
    height: auto;
    min-height: var(--form-stepper-height);
  }
  .form-stepper-actions {
    width: 50vw;
    display: flex;
    justify-content: center;
  }
  .form-stepper-content {
    height: auto;
  }
  .navBar{
    justify-content: center;
    z-index: 100;
  }
  .navBarBackNext {
    justify-content: center;
    z-index: 100;
  }
}

