.image-form {
  width: 40vw;
  height: auto;
}

.MuiDialog-paperScrollPaper {
  max-height: 95vh !important;
}

.form-editor-label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 4px;
  letter-spacing: 1px;
  font-size: 0.9em;
}
