.item-list-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0.5vh 0;
  transition: 0.5s;
}

.item-list-container:hover {
  cursor: pointer;
  background-color: #bbdefb;
}

.item-list-text {
  width: 15vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}

.item-list-remove-button {
  width: 10vw;
  height: auto;
}

.content-item {
  width: 100%;
  transition: 0.5s;
}

.draggable-item {
  width: 100%;
  display: flex;
}

.menu-content-item {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  transition: 0.5s;
}

.menu-content-item:hover {
  background-color: #e0e0e0;
}

.menu-content-accessibility {
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  transition: 0.5s;
}

.menu-content-accessibility-item {
  width: 230px !important;
  margin-left: 10px !important;
  background-color: #ffffff !important;
}

.content-box {
  width: 100% !important;
  height: auto;
  position: relative;
}

.content-boxstudent {
  width: 100%;
  height: auto;
  display: contents;
  position: relative;
}

.menu-item-list {
  width: 250px !important;
}

.list-subheader {
  text-align: center !important;
}

.item-drag-handle {
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  cursor: move;
  background-color: #eeeeee;
  transition: 0.5s;
}

/* Text */

.text-content-item {
  width: 100% !important;
  height: auto;
}

.text-item-title-box {
  width: 100%;
}

.text-item-title {
  width: 95%;
  padding: 1.5vh 2.5%;
  height: auto;
  font-size: 1.5em;
  letter-spacing: 2px;
  color: #333;
  font-weight: 100 !important;
  transition: 0.5s;
}

.text-item-section {
  width: 95%;
  padding: 2.5vh 2.5%;
  height: auto;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  color: #757575;
  transition: 0.5s;
}

/* Image */

.image-content-item {
  width: 100% !important;
  height: auto;
  display: flex;
  justify-content: center;
}

.image-item-container-child {
  margin-right: 1vw;
  margin-top: 8px;
  margin-bottom: 20px;
  width: 360px;
  height: 270px;
  cursor: pointer;
}

.image-item-container {
  width: 95%;
  padding-top: 1.5vh;
  display: flex;
  align-items: center;
}

.image-item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.image-item-description {
  width: calc(100% - 500px);
  padding: 1.5vh 15px;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  color: #757575;
  word-break: break-all;
  position: relative;
  height: auto;
}

.image-item-description-full {
  width: 95%;
  padding: 1.5vh 2.5%;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  color: #757575;
  word-break: break-all;
  transition: 0.5s;
}

.resizable-item {
  border: solid 1px var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-right-resize {
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  position: absolute;
  left: 5px;
  top: 5px;
}

.top-right-resize {
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  position: absolute;
  left: 5px;
  top: 5px;
}

.bottom-left-resize {
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  position: absolute;
  left: 5px;
  top: 5px;
}

.top-left-resize {
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  position: absolute;
  left: 5px;
  top: 5px;
}

/* Video */
.video-content-item {
  width: 100% !important;
  height: auto;
}

.video-item-container {
  width: 95%;
  padding: 1.5vh 2.5%;
  display: flex;
  justify-content: center;
}

.video-item {
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.video-item-description {
  width: calc(100% - 500px);
  display: flex;
  align-items: center;
  padding: 1.5vh 30px;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  color: #757575;
  text-align: justify;
}

/* Audio */

.audio-content-item {
  width: 100% !important;
  height: auto;
}

.audio-item-container {
  width: 95%;
  padding-top: 1.5vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.audio-item {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

.audio-item-description {
  width: calc(100% - 500px);
  display: flex;
  align-items: center;
  padding: 1.5vh 30px;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  color: #757575;
  text-align: justify;
}

/* Link */

.link-content-item {
  width: 100% !important;
  height: auto;
  cursor: pointer;
  transition: 0.5s;
}

.link-content-item:hover {
  color: var(--primary);
}

.link-item-container-html {
  width: 95%;
  padding: 2.5vh 2.5%;
}

.link-item-container {
  width: 95%;
  padding: 2.5vh 2.5%;
}

.link-item-url {
  font-size: 1.35em !important;
}

.link-description-item-section {
  color: #616161;
  font-size: 1em;
  word-break: break-all;
}

/* Pdf compressed */

.file-content-item {
  width: 100% !important;
  height: auto;
}

.pdf-item-container {
  width: 100%;
  align-items: center;
}

.pdf-item {
  width: auto;
  height: 80px;
  display: flex;
  align-items: center;
}

.file-dial-container {
  width: auto !important;
  height: 100% !important;
  flex-direction: row-reverse !important;
  align-items: center;
  margin-right: 1.5vw;
}

.MuiSpeedDial-actions.MuiSpeedDial-directionRight {
  padding: 0 1.5vw !important;
}

.item-instruction-column {
  margin-top: 15px;
  width: auto;
}

.pdf-item-instruction {
  width: 90%;
  padding: 0.5vh 1vw;
  font-size: 1em;
  letter-spacing: 1px;
  color: #757575;
  margin-bottom: 1vh;
}

.instruction-title {
  width: 90%;
  margin: 0vh 2vw;
}

/* H5P */

.h5p-content-item {
  width: 100% !important;
  height: auto;
}

.h5P-item-container {
  width: 100%;
  height: auto;
}

.h5P-item-container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.h5P-item-container-activity {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2.5vh 0;
  position: relative;
}

.h5p-instruction-title {
  width: 95%;
  height: auto;
  padding: 0vh 2.5%;
  padding-top: 2vh;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.h5P-item-container-instruction {
  width: 95%;
  padding: 1.5vh 2.5%;
  color: #616161;
  padding-bottom: 2.5vh;
}

.iframe-item-container {

}

.loading-iframe-container {
  width: 100%;
  height: 100%;
  z-index: 80;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
}

.loading-iframe-text {
  width: 100%;
  text-align: center;
  padding: 2.5vh 0;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 0.5px;
}
/* Quiz */

.quiz-content-item {
  width: 100% !important;
  height: auto;
}

.quiz-container {
  width: 95%;
  padding: 0 2.5%;
  height: auto;
  background-color: #fafafa;
}

.item-quiz-panel {
  background-color: transparent !important;
}

.activity-parent-panel {
  background-color: transparent !important;
}

.item-quiz-expansion-summary-text-container {
  position: relative;
  left: 2.5%;
  width: 100%;
  text-align: center;
}

.quiz-panel-title {
  color: #1976d2 !important;
  font-size: 1.85em !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  color: var(--primary) !important;
}

.quiz-panel-subtitle {
  color:#1976d2 !important;
  font-size: 1.1em !important;
  text-transform :capitalize !important;
}

.item-quiz-detail-container {
  position: relative;
  width: 88%;
  left: 5vw;
  padding: 2.5vh 0;
}

.item-quiz-detail {
  background-color: #ffffff !important;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(189,189,189,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(189,189,189,0.75);
  box-shadow: 0px 0px 1px 0px rgba(189,189,189,0.75);
}

.item-quiz-text-detail {
  font-size: 0.85em !important;
}

/* Activity */

.activity-content-item {
  width: 100% !important;
  height: auto;
}

.activity-item-container {
  width: 100%;
  height: auto;
}

.activity-item-container-activity {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2.5vh 0;
}

.activity-instruction-title {
  width: 88%;
  padding: 1.5vh 2.5%;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.activity-comment {
  display: flex;
  align-items: center;
  width: 70%;
}

.activity-item-container-instruction {
  width: 100%;
  padding: 1.5vh 2.5%;
  color: #616161;
}

.activity-item-container-file {
  width: calc(90vw - 200px);
  justify-content: center;
  align-items: center;
  margin: auto;
}

.file-type-text-detail {
  font-size: 0.7em !important;
}

.activity-detail-container {
  position: relative;
  left: 2.5%;
}

.activity-container {
  width: 95%;
  padding: 0 2.5%;
  height: auto;
  background-color: #fafafa;
}

.activity-panel-title {
  font-size: 1.85em !important;
  letter-spacing: 2px !important;
  color: var(--secondary) !important;
}

/* Activity */

.embedded-content-item {
  width: 100% !important;
  height: auto;
  display: flex;
  position: relative;
}

.embedded-description-item-section {
  color: #616161;
  font-size: 1em;
  word-break: break-all;
  padding: 1vh 2.5%;
  padding-top: 2vh;
  width: 95%;
}

.embedded-loading-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.embedded-item-container-activity {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2.5vh 0;
  position: relative;
}

.pdf-dialog-content {
  width: 100%;
  height: 100%;
}

.course-creator-item-video-card-preview-player {
  width: 480px !important;
  height: 270px !important;
  padding: 1.5vh 0 !important;
}

.done-icon {
  color: #4caf50;
}

.align-items-center {
  display: flex;
  align-items: center;
}
.cue:focus,
summary:focus,
summary:hover {
  background: hsl(216, 94%, 94%);
}

.current {
  font-weight: 600;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1080px) {
  
  .image-item-container {
    display: inline;
  }
} 