.item-list-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0.5vh 0;
  transition: 0.5s;
}

.item-list-container:hover {
  cursor: pointer;
  background-color: #bbdefb;
}

.item-list-text {
  width: 15vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}

.item-list-remove-button {
  width: 10vw;
  height: auto;
}

.content-item {
  width: 100%;
  transition: 0.5s;
}

.menu-content-item {
  width: var(--menu-item-width);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  transition: 0.5s;
}

.menu-content-item:hover {
  background-color: #e0e0e0;
}

.content-box {
  width: 100%;
  height: auto;
  display: flex;
}

.menu-item-list {
  width: 250px !important;
}

.list-subheader {
  text-align: center !important;
}

/* Text */

.text-content-item {
  width: calc(100% - var(--menu-item-width));
  height: auto;
}

.text-item-title-box {
  width: 100%;
}

.text-item-title {
  width: 95%;
  padding: 1.5vh 2.5%;
  height: auto;
  font-size: 1.5em;
  letter-spacing: 2px;
  color: #333;
  font-weight: 100 !important;
  text-transform: uppercase;
  transition: 0.5s;
  border-bottom: solid 1px #e0e0e0;
}

.text-item-subtitle {
  width: 95%;
  padding: 1.5vh 2.5%;
  height: auto;
  font-size: 1em;
  letter-spacing: 1px;
  color: #424242;
  transition: 0.5s;
}

.text-item-section {
  width: 95%;
  padding: 2.5vh 2.5%;
  height: auto;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  color: #757575;
  transition: 0.5s;
}

/* Image */

.image-content-item {
  width: calc(100% - var(--menu-item-width));
  height: auto;
}

.image-item-container {
  width: 95%;
  padding: 1.5vh 2.5%;
  display: flex;
}

.image-item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.image-item-description {
  width: calc(100% - 500px);
  display: flex;
  align-items: center;
  padding: 1.5vh 30px;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  color: #757575;
  text-align: justify;
  word-break: break-all;
}

.image-item-description-full {
  width: 95%;
  display: flex;
  align-items: center;
  padding: 1.5vh 2.5%;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  color: #757575;
  text-align: justify;
  word-break: break-all;
  transition: 0.5s;
}

.resizable-item {
  border: solid 1px var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-right-resize {
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  position: absolute;
  left: 5px;
  top: 5px;
}

.top-right-resize {
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  position: absolute;
  left: 5px;
  top: 5px;
}

.bottom-left-resize {
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  position: absolute;
  left: 5px;
  top: 5px;
}

.top-left-resize {
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  position: absolute;
  left: 5px;
  top: 5px;
}

/* Video */
.video-content-item {
  width: calc(100% - var(--menu-item-width));
  height: auto;
}

.video-item-container {
  width: 95%;
  padding: 1.5vh 2.5%;
  display: flex;
}

.video-item {
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.video-item-description {
  width: calc(100% - 500px);
  display: flex;
  align-items: center;
  padding: 1.5vh 30px;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  color: #757575;
  text-align: justify;
}

/* Audio */

.audio-content-item {
  width: calc(100% - var(--menu-item-width));
  height: auto;
}

.audio-item-container {
  width: 95%;
  padding: 1.5vh 2.5%;
  display: flex;
  align-items: center;
}

.audio-item {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

.audio-item-description {
  width: calc(100% - 500px);
  display: flex;
  align-items: center;
  padding: 1.5vh 30px;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  color: #757575;
  text-align: justify;
}

/* Link */

.link-content-item {
  width: calc(100% - var(--menu-item-width));
  height: auto;
}

.link-item-container-html {
  width: 95%;
  padding: 2.5vh 2.5%;
}

.link-item-container {
  width: 95%;
  padding: 2.5vh 2.5%;
}

.link-item-url {
  font-size: 1.35em !important;
}

.link-description-item-section {
  color: #616161;
  font-size: 1em;
  word-break: break-all;
}

/* Pdf compressed */

.file-content-item {
  width: calc(100% - var(--menu-item-width));
  height: auto;
}

.pdf-item-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.pdf-item {
  width: 650px;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.file-dial-container {
  width: auto !important;
  height: 100% !important;
  flex-direction: row-reverse !important;
  align-items: center;
  margin-right: 1.5vw;
}

.MuiSpeedDial-actions.MuiSpeedDial-directionRight {
  padding: 0 1.5vw !important;
}

.item-instruction-column {
  width: calc(100% - 650px);
}

.pdf-item-instruction {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 1.5vh 30px;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
  color: #757575;
  text-align: justify;
}

.instruction-title {
  width: 90%;
  margin: 0 5%;
  text-transform: uppercase;
}

/* H5P */

.h5p-content-item {
  width: calc(100% - var(--menu-item-width));
  height: auto;
}

.h5P-item-container {
  width: 100%;
  height: auto;
}

.h5P-item-container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.h5P-item-container-activity {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2.5vh 0;
  position: relative;
}

.h5p-instruction-title {
  width: 95%;
  height: auto;
  padding: 0vh 2.5%;
  padding-top: 2vh;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.h5P-item-container-instruction {
  width: 95%;
  padding: 1.5vh 2.5%;
  color: #616161;
  padding-bottom: 2.5vh;
}

.iframe-item-container {

}

.loading-iframe-container {
  width: 100%;
  height: 100%;
  z-index: 80;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
}

.loading-iframe-text {
  width: 100%;
  text-align: center;
  padding: 2.5vh 0;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 0.5px;
}
/* Quiz */

.quiz-content-item {
  width: calc(100% - var(--menu-item-width));
  height: auto;
}

.quiz-container {
  width: 95%;
  padding: 0 2.5%;
  height: auto;
  background-color: #fafafa;
}

.item-quiz-panel {
  background-color: transparent !important;
}

.item-quiz-expansion-summary-text-container {
  position: relative;
  left: 2.5%;
  width: 100%;
  text-align: center;
}

.quiz-panel-title {
  font-size: 1.85em !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  color: var(--primary) !important;
}

.quiz-panel-subtitle {
  font-size: 1.25em !important;
  color: #616161 !important;
}

.item-quiz-detail-container {
  position: relative;
  left: 5vw;
  padding: 2.5vh 0;
}

.item-quiz-detail {
  background-color: #ffffff !important;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(189,189,189,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(189,189,189,0.75);
  box-shadow: 0px 0px 1px 0px rgba(189,189,189,0.75);
}

.item-quiz-text-detail {
  font-size: 0.85em !important;
}

/* Activity */

.activity-content-item {
  width: calc(100% - var(--menu-item-width));
  height: auto;
}

.activity-item-container {
  width: 100%;
  height: auto;
}

.activity-item-container-activity {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2.5vh 0;
}

.activity-instruction-title {
  width: 95%;
  height: auto;
  padding: 0vh 2.5%;
  padding-top: 2vh;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.activity-item-container-instruction {
  width: 95%;
  padding: 1.5vh 2.5%;
  color: #616161;
  padding-bottom: 2.5vh;
}

.file-type-text-detail {
  font-size: 0.7em !important;
}

.activity-detail-container {
  position: relative;
  left: 2.5%;
}

.activity-container {
  width: 95%;
  padding: 0 2.5%;
  height: auto;
  background-color: #fafafa;
}

.activity-panel-title {
  font-size: 1.85em !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  color: var(--secondary) !important;
}

/* Activity */

.embebed-content-item {
  width: calc(100% - var(--menu-item-width));
  height: auto;
}

.embebed-item-container {
  width: 95%;
  padding: 2.5vh 2.5%;
}

.embebed-description-item-section {
  color: #616161;
  font-size: 1em;
  word-break: break-all;
}

.embebed-item-container-activity {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2.5vh 0;
  position: relative;
}
