.library-tool-container {
  width: 100%;
  height: auto;
}

.loading-library-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-library-text {
  width: 100%;
  text-align: center;
  padding: 1.5vh 0;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.5px;
}

.empty-result-message {
  width: 100%;
  height: 32.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-library-text {
  margin-left: 0.5vw;
  padding: 1.5vh 0;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.5px;
}

.image-card {
  width: 23vw !important;
  height: 30vh !important;
  position: relative;
  margin-left: 0.165vw;
  margin-right: 0.165vw;
  overflow: hidden;
  padding-top: 2vh;
}

.card-media-image {
  width: 23vw;
  height: calc(30vh - 3em) !important;
  background-size: 23vw;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
  overflow: hidden;
}

.card-media-audio {
  height: calc(30vh - 3em) !important;
  background-size: 0vw !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
  overflow: hidden;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url(audio-track.svg);
  transition: 0.5s;
}

.card-media-audio:hover {
  background-color: #eeeeee;
  background-size: 2vw !important;
  background-image: url(audio-track.svg);
}

.card-media-audio:focus {
  outline: none !important;
  border: none;
  box-shadow: none;
}

.card-actions-bottom-container {
  width: 23vw !important;
  padding: 0 !important;
  height: 3em;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  background-color: var(--white) !important;
}

.files-result-container {
  width: auto;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}

.file-information-card {
  width: 21vw;
}

.image-avatar {
  background-color: #ffc107 !important;
}

.video-avatar {
  background-color: #f44336 !important;
}

.audio-avatar {
  background-color: #3f51b5 !important;
}

.file-information-card-header {
  background-color: #eeeeee !important;
  font-size: 0.9em !important;
}

.file-information-card-content {
  font-size: 0.8em !important;
  padding-left: 3vw !important;
}
