.media-player-container {
  width: 100vw;
  height: calc(100vh - var(--app-bar-height) - 1px);
  position: relative;
  overflow-y: hidden;
}

.media-player-container-full {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.fullscreen-media-container {
  width: 100%;
  height: 100%;
  background-color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.fullscreen-media-container-stepper {
  width: 100% !important;
  height: calc(100% - 48px);
  background-color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-player-controllers-dissapear {
  width: 98vw;
  padding: 1vh 1vw;
  position: absolute !important;
  bottom: -300px !important;
  background-color: var(--app-bar-color) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  opacity: 0.95;
  z-index: 100;
}

.media-player-controllers-container {
  width: 98vw;
  padding: 1vh 1vw;
  position: absolute;
  bottom: 0px;
  background-color: var(--app-bar-color) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  opacity: 0.95;
  z-index: 100;
}

.media-player-controllers-container-a11y {
  width: 63vw;
  padding: 1vh 1vw;
  position: absolute;
  bottom: 0px;
  background-color: var(--app-bar-color) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  opacity: 0.95;
  z-index: 100;
}

.video-media-player {
  width: 100vw !important;
  background-color: black;
  height: 100vh !important;
}

.video-media-player-a11y {
  width: 65vw !important;
  background-color: black;
  height: calc(100vh - var(--app-bar-height)) !important;
}

.video-media-player div iframe {
  width: 100vw;
  height: calc(100vh - var(--app-bar-height));
}

.video-media-player div {
  width: 100vw;
  height: calc(100vh - var(--app-bar-height));
}

.media-player-icon-button {
  color: var(--white) !important;
  position: relative;
}

.media-player-icon-button-des {
  color: black !important;
  position: relative;
}

.media-dialog-content {
  padding: 0 !important;
}

.media-player-icon {
  font-size: 5vh !important;
}

.media-player-slider {

}

.media-player-medium-label {
  color: var(--white) !important;
  font-size: 2.5vh !important;
  letter-spacing: 2px !important;
  margin: 0 1vw !important;
  animation: fadeIn 0.75s;
  transition: 0.5s;
}

.media-player-volume-slider-container {
  position: absolute;
  width: 2.5vw;
  height: 10vh;
  background-color: var(--app-bar-color);
  bottom: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5vh 0;
  right: calc(1vw + 24px + 5vh + ((2.5vh + 12px) - 1.25vw));
}

.media-player-slider-small {
  width: 7.5vw !important;
  margin-right: 1.5vw;
}

.media-player-a11y-container {
  width: calc(100% - 40px) !important;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
}

.media-player-a11y-container-fullscreen {
  position: absolute;
  z-index: 100;
  top: 15px;
  right: 15px;
  width: 25vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
}

.media-player-a11y-video {
  width: 100% !important;
  height: 100% !important;
  background-color: #424242;
}

.media-a11y-container {
  background-color: #424242;
  width: 35vw;
  overflow-y: auto;
}

.image-media-player-paper {
  width: 100vw !important;
  height: 100%!important;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInLeft 0.5s;
  background-color: black !important;
  object-fit: contain;
}

.image-media-player-paper-a11y {
  width: 65vw !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInLeft 0.5s;
  background-color: black !important;
  object-fit: contain;
}

.media-player-pop-menu-time {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
  color: white;
  z-index: 1000;
  background-color: #424242;
}

.media-mobile-stepper {
  background-color: var(--app-bar-color) !important;
  color: #f5f5f5 !important;
}

.media-mobile-stepper-button {
  color: #f5f5f5 !important;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1080px) {
  .fullscreen-media-container {
    display: block;
    height: 100% !important;
  }
  .fullscreen-media-container-stepper {
    display: block;
    height: calc(100% - 48px) !important;
  }
  .video-media-player-a11y {
    width: 100vw !important;
    height: 50% !important;
  }
  .image-media-player-paper-a11y {
    width: 100vw !important;
    height: 50% !important;
  }
  .media-a11y-container {
    width: 100vw;
    height: 50% !important;
  }
  .media-player-controllers-container {
    width: 100vw;
    padding: 0 0vw;
    bottom: 0px;
  }
  .media-player-controllers-container-a11y {
    width: 100vw;
    padding: 0 0vw;
    bottom: 50%;
  }
  .media-player-icon {
    position: absolute;
    font-size: 30px !important;
  }
  .media-player-icon-button {
    height: 40px;
    width: 40px;
    position: relative;
    justify-content: center;
  }
  .media-player-icon-button-des {
    height: 40px;
    width: 40px;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }
  .media-player-medium-label {
    font-size: 17px !important;
    letter-spacing: 1px !important;
    margin: 0 0vw !important;
  }
  .media-player-slider {
    margin-left: 2vw;
  }
  .media-player-slider-small {
    width: 25vw !important;
  }
} 