/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: var(--menu-size);
  height: calc(var(--menu-size) - 10px);
  left: var(--menu-size);
  top: var(--menu-size);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--white);
  outline: none;
  transition: 0.5s;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--primary);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: var(--cross-size);
  width: var(--cross-size);
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--white);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--menu-color);
  font-size: var(--menu-font-size);
  overflow-y: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #FFF;
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--white);
}

/* Individual item */
.bm-item {
  display: inline-block;
  outline: none;
  user-select: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#outer-container {
  width: 100vw;
  height: 100vh;
}

.menu-title {
  width: 100%;
  height: auto;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 7.5vh;
  transition: 0.5s;
}

.menu-title:hover {
  cursor: pointer;
}

.options-container {
  width: 100%;
  height: auto;
  margin-top: 5vh;
}

.MuiExpansionPanelSummary-root.Mui-expanded {
  color: #FFF;
  font-family: 'Lato', sans-serif !important;
  background-color: var(--menu-color) !important;
}

.MuiExpansionPanelSummary-root {
  background-color: var(--menu-color) !important;
  color: #FFF !important;
}

.MuiExpansionPanelDetails-root {
  padding: 0 !important;
  background-color: var(--menu-color) !important;
  color: #FFF;
}

.MuiTypography-body1 {
  font-size: var(--option-font-size);
}

.MuiIconButton-label {
  color: #FFF;
}

.sub-menu-container {
  background-color: var(--menu-color);
}

.sub-menu-option {
  display: flex;
  width: 300px;
  height: auto;
  text-indent: var(--menu-indent);
  transition: 0.5s;
  padding: 2vh 0;
  font-size: var(--sub-option-font-size);
  background-color: var(--menu-color);
  text-decoration: none;
  color: #FFF;
  font-family: 'Lato', sans-serif !important;
}

.sub-menu-option:hover {
  cursor: pointer;
  background-color: var(--menu-hover);
  text-indent: calc(var(--menu-indent) + 0.5vw);
}
