/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: var(--menu-size);
  height: var(--menu-size);
  margin-left: 1vw;
  position: fixed;
  top: calc( ( var(--app-bar-height) - var(--menu-size) ) / 2 );
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: var(--cross-size);
  width: var(--cross-size);
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--white);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 350px !important;
}

/* General sidebar styles */
.bm-menu {
  background: var(--app-bar-color);
  font-size: var(--menu-font-size);
  overflow-y: scroll;
  overflow-x: hidden !important;
  width: auto;
}

.bm-menu::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.bm-menu::-webkit-scrollbar-track {
  background: #424242;
}

/* Handle */
.bm-menu::-webkit-scrollbar-thumb {
  background: #212121;
  transition: 0.5s;
}

/* Handle on hover */
.bm-menu::-webkit-scrollbar-thumb:hover {
  background: #1C2833;
  cursor: pointer;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #FFF;
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--white);
}

/* Individual item */
.bm-item {
  display: inline-block;
  outline: none;
  user-select: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#outer-container {
  width: 100vw;
  height: 100vh;
}

.menu-title {
  display: flex;
  letter-spacing: 2px;
  height: auto;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 5vh;
  margin-bottom: 3.5vh;
  transition: 0.5s;
  text-decoration: none;
  padding: 0 5vw;
}

.primary-color-text {
  color: var(--primary);
}

.secondary-color-text {
  color: var(--secondary);
}

.menu-title:hover {
  cursor: pointer;
}

.options-container {
  width: 100%;
  height: auto;
  margin-top: 2.5vh;
}

.menu-expansion-panel {
  color: #FFF !important;
  font-family: 'Lato', sans-serif !important;
  background: var(--app-bar-color) !important;
  letter-spacing: 1px !important;
}

.bm-item-list {
  height: auto !important;
}

.menu-expansion-summary {
  padding: 0 !important;
  background: var(--app-bar-color) !important;
  color: #FFF;
  letter-spacing: 1px !important;
}

.MuiExpansionPanelDetails-root {
  padding: 0 !important;
}

.menu-option {
  text-indent: 1vw !important;
  letter-spacing: 1px !important;
}

.sub-menu-container {
  background: var(--app-bar-color) !important;
}

.menu-expand-more-icon {
  fill: var(--white) !important;
}

.MuiIconButton-edgeEnd {
  margin-right: 0 !important;
}

.sub-menu-option {
  display: flex;
  width: 350px;
  height: auto;
  text-indent: var(--menu-indent);
  transition: 0.5s;
  padding: 2vh 0;
  letter-spacing: 1px !important;
  font-size: var(--sub-option-font-size);
  background: var(--app-bar-color);
  text-decoration: none;
  color: #FFF;
  font-family: 'Lato', sans-serif !important;
}

.sub-menu-option:hover {
  cursor: pointer;
  color: var(--primary);
  background: var(--menu-hover);
  text-indent: calc(var(--menu-indent) + 0.5vw);
}

.main-menu-social-container {
  width: calc(350px - 5vw);
  height: auto;
  padding: 1.5vh 2.5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-icon-button {
  color: var(--white) !important;
}
