.presentation-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
}

.presentation-image {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url(presentation.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: contrast(75%);
  z-index: 5;
}

.presentation-logo-container {
  width: 100vw;
  height: var(--presentation-logo-height);
  background-image: url(seli-logo-w.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1.25vh;
  animation: zoomIn 1.25s;
  animation-fill-mode: backwards;
  animation-delay: 0.75s;
}

.presentation-text-container {
  width: 100vw;
  height: var(--presentation-text-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.95em;
  user-select: none;
  text-transform: capitalize;
  color: var(--white);
  animation: fadeInDown 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

.presentation-buttons-container {
  width: 100vw;
  height: var(--presentation-buttons-height);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  animation: fadeInUp 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

.main-button {
  margin: 0 0.75vw !important;
}
