.absolute-container {
  width: 100vw;
  height: auto;
  position: relative;
  top: var(--app-bar-height);
}

.dashboard {
  width: 100vw !important;
  height: calc(100vh - var(--app-bar-height)) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#dashboard-1 {
  background-image: url(001.jpg);
}

#dashboard-2 {
  background-image: url(002.jpg);
}

#dashboard-3 {
  background-image: url(003.jpg);
}

#dashboard-4 {
  background-image: url(004.jpg);
}

#dashboard-5 {
  background-image: url(005.jpg);
}

#dashboard-6 {
  background-image: url(006.jpg);
}

.slider-container {
  width: 100vw;
  height: auto;
}

.swiper-container-horizontal > .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  position: absolute !important;
  top: calc(100vh - var(--app-bar-height) - var(--slider-progress-size)) !important;
  height: var(--slider-progress-size) !important;
}

.swiper-button-next {
  background-image: url(next-f2.svg) !important;
  margin-right: 1vw !important;
}

.swiper-button-prev {
  background-image: url(previous-f2.svg) !important;
  margin-right: 1vw !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: var(--secondary) !important;
}

.about-presentation-container {
  width: 100vw;
  height: auto;
}

.h1-primary-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  font-size: 2.5em;
  letter-spacing: 0.25vw;
  padding: 10vh 0;
  background-color: #f5f5f5;
}

.justified-text {
  width: calc(100vw - 20vw);
  height: auto;
  padding: 7.5vh 10vw;
  text-align: justify;
  font-size: 1em;
  color: var(--normal-text);
}

.copyright-section {
  width: 100vw;
  height: 40vh;
  background-color: var(--app-bar-color);
  margin-top: 10vh;
}

.copyright-text {
  width: 100%;
  height: auto;
  background-color: #333;
  color: var(--white);
  padding: 1.5vh 0;
  position: absolute;
  bottom: 0;
  text-align: center;
}
