.file-preview-container {
  width: 100% !important;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5vh 0;
  animation: fadeInDown 0.25s;
}

.video-preview-container {
  width: 100%;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInDown 0.25s;
}

.video-preview-container-library {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInDown 0.25s;
}

.file-preview-information {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#unit-preview-information {
  width: calc(60% - var(--preview-action-container));
  background-color: #f5f5f5;
}

.file-preview-actions {
  height: fit-content !important;
  width: var(--preview-action-container);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
}

.file-preview-name {
  width: 90%;
  padding: 1vh 5%;
  text-align: center;
  height: auto;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc((var(--preview-text) - 0.35em));
  word-break: break-all;
}

.file-preview-by {
  width: 100%;
  text-align: center;
  height: var(--preview-text);
  letter-spacing: 0.5px;
  color: var(--secondary);
  font-size: calc((var(--preview-text) - 0.35em));
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
}

.file-preview-icon-container {
  width: 100%;
  height: calc(100% - (var(--preview-text) * 2) - 1em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-preview-icon {
  font-size: 8.5vw !important;
  color: #333 !important;
}

.file-preview-icon-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 10vw;
  font-size: 1.1em;
  text-align: center;
}

#image-preview-information {
  width: calc(80% - var(--preview-action-container));
  background-color: #f5f5f5;
}

#pdf-preview-information {
  width: calc(50% - var(--preview-action-container));
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pdf-file-preview-icon {
  font-size: 3em;
  margin-bottom: 3vh;
  border-radius: 100%;
  color: var(--white);
  padding: 10px;
  background-color: #e57373;
}

#compressed-preview-information {
  width: calc(50% - var(--preview-action-container));
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#attachment-preview-information {
  width: calc(400px - var(--preview-action-container));
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compressed-file-preview-icon {
  font-size: 3em;
  margin-bottom: 3vh;
  border-radius: 100%;
  color: var(--white);
  padding: 10px;
  background-color: #7e57c2;
}

.attachment-file-preview-icon {
  font-size: 1.5em;
  margin-bottom: 3vh;
  border-radius: 100%;
  color: var(--white);
  padding: 10px;
  background-color: #ff9800;
}

.file-image-preview {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/**/

.file-preview-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-file-preview {
  width: 300px;
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: fadeInDown 0.5s;
  margin-right: 3vw;
}

.video-file-preview {
  width: 20vw;
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  margin-right: 1vw;
  animation: fadeInDown 0.5s;
}

.audio-file-preview {
  width: 95%;
  height: 5vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  margin-right: 1vw;
  display: flex;
  align-items: center;
  animation: fadeInDown 0.5s;
}

.pdf-file-preview {
  width: 100%;
  height: 17.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffebee;
  animation: fadeInDown 0.5s;
}

.compressed-file-preview {
  width: 100%;
  height: 17.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1c4e9;
  animation: fadeInDown 0.5s;
}

.file-preview-column {
  width: 45%;
  height: auto;
  margin-right: 5%;
}

.file-preview-text {
  width: 90%;
  padding: 0 5%;
  height: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 0.75px;
  word-break: break-all;
  background-color: #fafafa;
}

.file-preview-row {
  width: 100%;
  height: auto;
}

.file-preview-button {
  width: 100% !important;
  font-size: 0.65em !important;
  margin: 0.5vh 0 !important;
}

.resizable-content-container {
  position: absolute;
  top: 0px;
}