.student{
  display: flex;
  flex-wrap: wrap;
  padding: 1vh 0.5vw;
  align-items: center;
  transition: 0.35s;
}

.student-profile-container {
  padding: 1vh 0.5vw;
  display: flex;
  align-items: center;
  transition: 0.35s;
  flex-wrap: wrap;
}

.student-profile-container-1 {
  padding: 1vh 0.5vw;
  display: flex;
  align-items: center;
  transition: 0.35s;
}

.student-profile-container:hover {
  cursor: pointer;
  
}

.student-profile-information-container {
  padding: 2vh 1vw !important;
  margin-left: 1vw !important;
  display: flex;
}

.student-profile-information-text-primary {
  letter-spacing: 1px;
  font-size: 1.05em;
  color: #333;
  padding-bottom: 1vh;
  text-decoration: underline;
}

.student-profile-information-text-secondary {
  letter-spacing: 1px;
  font-size: 0.9em;
  color: #616161;
}

.student-profile-actions-container {
  width: auto;
  padding-left: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.student-profile-actions-icon {
  margin-left: 0.5vw !important;
}

.student-profile-button {
  margin: 0.5vh 0.25vw !important;
}

.student-profile-avatar {
  width: 3vw !important;
  height: 3vw !important;
  font-size: 1.25vw !important;
}

.confirmation-popover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 2.5vw;
}

.student-confirmation-button {
  margin: 0 0.5vw !important;
  margin-top: 1vh !important;
}
.library-files-containerquiz {
  display: flex;
  flex-wrap: wrap;
  max-width: 66vw;
  min-width: 66vw;
  min-height: 60vh;
  max-height: 60vh;
  align-items: flex-start;
  place-content: flex-start;
}
.dialog-toolbar-icon {
  color: var(--white) !important;
}
.dialog-tool-bar-information {
  min-width: 30vw;
  color: var(--white) !important;
  padding-left: 1vw !important;
}
.dialog-app-bar {
  background-color: var(--app-bar-color) !important;
}
.dialog-title {
  width: auto;
  padding: 0 !important;
}

.studentTable{
  margin-top: 19px;
  margin-left: 5px

}