.quiz-form {
  animation: fadeIn 0.5s;
  padding: 1.5vh 2.5%;
}

.quiz-header-container {
  padding-top: 1.75vh;
  width: 95%;
}

.quiz-input-container{
  width: 100%;
  padding: 0 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-form{
  animation: fadeInDown 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

.quiz-input-title {
  width: 85% !important;
  margin: 0.5vh 0.2% !important;
}

.quiz-inputnumeric{
  margin: 0.5vh 0.5% !important;
  width: 88% !important;
  height: 52px;
 
}

.quiz-input {
  width: 50% !important;
  margin: 0.5vh 0.5% !important;
}

.quiz-form-control {
  width: 49% !important;
  margin: 0.5vh 0.5% !important;
}

.quiz-form-control .MuiFormControlLabel-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
  margin-left: 0.25vw !important;
}

.answer-input {
  width: 30vw !important;
  margin: 1.5vh 0 !important;
}

.question-form-button-container {
  width: 100%;
  height: auto;
  padding: 2.5vh 0;
  display: flex;
  justify-content: flex-end;
  animation: fadeIn 1s;
}

.large-form-fab {
  width: auto !important;
}

.form-dialog-question-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5vh;
}

.form-dialog-question-button {
  width: 5% !important;
  min-width: 5px !important;
  margin: 0 2px !important;
}

.form-dialog-question-button-container-text {
  font-size: 0.85em;
  letter-spacing: 1px;
  color: #616161;
  margin-right: 1vw;
}

.form-dialog-question-button-container-text-select {
  font-size: 0.85em;
  letter-spacing: 1px;
  color: #616161;
  margin-right: 1vw;
  margin-bottom: 10px;
}

.form-dialog-selected-question-input-container {
  width: 95%;
  padding: 0vh 2.5%;
}

.form-dialog-question-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  overflow-y: scroll;
  align-items: flex-start;
  place-content: flex-start;
}

.questions{
width: 50% !important;
display: flex
}
.answer-input {
  margin: 2px !important;
 

}

.answer-input .MuiOutlinedInput-adornedEnd{
  padding-right: 2px !important;
}

.quiz-dashboard-container {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quiz-dashboard-side {
  position: relative;
  width: 25%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInLeft 0.5s;
}

.quiz-dashboard-side span {
  font-size: 1.5em !important;
  letter-spacing: 1px;
  color: #616161;
  margin: 1.5vh 0;
}

.quiz-dashboard-primary-text {
  color: var(--primary);
  font-size: 1.85em;
  letter-spacing: 1px;
  width: 80%;
  padding: 2vh 10%;
  text-transform: uppercase;
  text-align: center;
}

.quiz-dashboard-icon {
  font-size: 5em !important;
  color: #757575 !important;
  margin: 2vh 0 !important
}

.quiz-dashboard-questions-container {
  position: relative;
  width: 55%;
  height: 70%;
  margin-left: 1%;
  animation: fadeInDown 0.75s;
  padding: 0 2.5%;
  padding-top: 1.5vh;
  position: initial;
}

.quiz-dashboard-questions-containerTutor {
  position: relative;
  width: 40%;
  margin-left: 1%;
  animation: fadeInDown 0.75s;
  padding: 0 2.5%;
  display: block;
  margin: 2vh;
}

.quiz-dashboard-label-text {
  letter-spacing: 2px;
  font-size: 0.95em;
  padding-top: 2vh;
  text-transform: uppercase;
}

.quiz-dashboard-secondary-text {
  color: #333;
  font-size: 1.1em;
  letter-spacing: 1px;
  padding: 0.5vh 0;
}

.question-dashboard-actions {
  position: absolute;
  bottom: 2.5vh;
  right: 1.5vw;
  display: flex;
}

.question-dashboard-button {
  letter-spacing: 1px !important;
  margin: 0 0.25vw    !important;
  border-radius: 0 !important;
  animation: fadeIn 0.5s;
}

.question-dashboard-label-text {
  letter-spacing: 2px;
  font-size: 0.95em;
  padding: 2vh 0;
  text-transform: uppercase;
  position:relative;
}

.question-dashboard-container {
  padding: 2.5vh 1vw;
  width: 100%
}

.question-dashboard-form-label {
  padding: 2.5vh 0 !important;
  color: #333 !important;
  letter-spacing: 1px !important;
}

.question-dashboard-form-control-label .MuiFormControlLabel-label{
  font-size: 0.85em !important;
  letter-spacing: 1px !important;
}

.quiz-countdown-progress {
  margin-top: 2vh !important;
  background-color: #eeeeee !important;
  border-radius: 50% !important;
  display: block !important;
}

.quiz-result-dialog-content-text {
  font-size: 0.85em !important;
  letter-spacing: 1px !important;
  color: #616161 !important;
  width: 100% !important;
}

#approved-text {
  color: #4caf50 !important;
}

#non-approved-text {
  color: #f44336 !important;
}

.question-dashboard-radio-group{
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
}
.question-dashboard-radio-group-student{
  display: flex !important;
  flex-wrap: wrap !important;
}

.student-answers{
  margin: 1vh 1vw;
  border-style: dotted;
}
.student-answers-block{
  margin: 1vh 1vw;
}
.student-answers-block-q{
  margin: 1.65vh 1vw;
}

.answers{
  padding: 0vh 2vw;
  font-weight: bold;
}

.answers-scores{
  padding: 0vh 2vw;
  font-weight: bold;
}

.student-scores{
  margin: 1vh 1vw;
  border-style: dotted;
  display: flex;
}

