.sign-title {
  text-transform: uppercase !important;
  text-align: center !important;
  background-color: #f5f5f5;
}

.sign-form {
  width: 350px;
  height: auto;
  padding: 1vw;
}

.sign-form-container {
  animation: fadeIn 0.5s;
}

.signin-input input {
  text-align: center !important;
}

.sign-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3.5vh;
}

.sign-button {
  padding: 0.75vh 1.95vw !important;
  letter-spacing: 2px !important;
  margin: 0 0.5vw !important;
}

.sign-actions {
  justify-content: center !important;
  padding-bottom: 2vh !important;
  background-color: #fafafa;
}
