.storytelling-tool-container-time {
  width: 100vw;
  height: calc(100vh - var(--app-bar-height));
  max-height: calc(100vh - var(--app-bar-height));
  position: absolute;
  top: var(--app-bar-height);
}

.storytelling-tool-play-container-time {
  width: 100vw;
  height: calc(100vh - var(--app-bar-height));
  max-height: calc(100vh - var(--app-bar-height));
  top: var(--app-bar-height);
  position: relative;
  display: flex;
  background-color: #000000;
}

.storytelling-work-area-full-time {
  width: 100vw;
  height: calc(100vh - var(--app-bar-height) - var(--actions-height));
  background-color: #f5f5f5;
  flex-direction: column;
  position: relative;
}

.storytelling-title-area-time { /* Head and story preview button */
  height: 40px;
  width: 100vw;
  background-color: #f5f5f5;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 0;
}

.storytelling-work-area-title-time {
  letter-spacing: 1px;
  font-size: 2.5em;
  font-weight: 100;
  color: #333;
  text-transform: uppercase;
  margin-top: 2vh;
  margin-left: 2vw;
  animation: fadeInLeft 1.5s;
}

.storytelling-work-preview-button-time {
  margin-top: 2vh !important;
  margin-left: 2vw !important;
  letter-spacing: 2px !important;
  font-size: 1.15em !important;
  animation: fadeInLeft 0.5s ease-out;
}

.storytelling-work-area-time { 
  height: calc(100% - 4vh - 40px);
  padding-left: calc(2vw + 124px);
  padding-right: calc(2vw + 124px);
  padding-top: 2vh; 
  padding-bottom: 2vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  justify-content: left;
  z-index: 1;
}

.storytelling-work-area-time::-webkit-scrollbar {
  height: 12px;
}

.storytelling-menu-container-time {
  width: 100vw;
  height: var(--actions-height);
  display: flex;
}

.storytelling-menu-header-time { /* Right part */
  width: 20vw;
  margin-left: 0.5vw;
  margin-right: 1vw;
  align-items: center;
  align-content: center;
  justify-content: center !important;
}

.storytelling-menu-body-full-time { /* Left part */
  width: 20vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  display: flex;
  align-items: center;
  overflow-y: scroll;
}

.storytelling-menu-media-time {
  width: 100%;
  display: flex;
}

.storytelling-menu-body-time {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.storytelling-menu-body-aux-time {  /* Midle part */
  width: 60vw;
  padding: 0 0;
  padding-right: 0.5vw;
  display: flex;
  align-items: center;
  overflow-y: scroll;
}

.storytelling-menu-body-tabs-time {
  width: 12vw;
}

.storytelling-menu-body-description-time {
  width: 100%;
  padding-left: 0.5vw;
}

.storytelling-menu-title-time {
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  padding: 0vh 0;
  padding-top: 2vh;
  color: #333;
  font-size: 1.25em;
}

.storytelling-actions-button-time {
  position: absolute !important;
  left: 2vw !important;
  bottom: calc(var(--actions-height) + 15px + 1vh) !important;
  display: flex;
  z-index: 12;
}

.storytelling-action-button-time {
  margin-right: 0.5vw !important;
  animation: zoomIn 1s;
}

.storytelling-item-time { /* Absolute objects property*/
  display: flex;
}

.storytelling-item-full-container-time { /* Main scene  object*/
  /* min-width: 10vw; */
  align-items: center;
  animation: fadeInLeft 0.75s;
}

.storytelling-item-images-scene-time {
  width: 128px !important;
  height: 128px !important;
  position: absolute;
  bottom: 25px;
  background-color: rgba(51, 51, 51, 0.850) !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 6;
  transform: perspective(250px) rotateY(60deg);
  cursor: pointer;
}

.storytelling-item-name-time {
  letter-spacing: 1px;
  font-size: 0.95em;
  cursor: pointer;
  margin-left: 0.6vw;
  margin-bottom: 0.2vh;
}

.storytelling-item-node-scene-time {
  min-width: 40px;
  height: 100px !important;
  align-items: center;
  background-color: #afafaf !important;
  cursor: pointer;
}

.storytelling-wave {
  position: relative;
  z-index: 6;
}

.storytelling-script-time {
  position: relative;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  font-size: 0.6em;
  color: white;
}

.storytelling-item-scripts-scene-time {
  width: 192px !important;
  min-height: 28px !important;
  position: absolute;
  top: 60px;
  background-color: rgba(51, 51, 51, 0.850) !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 6;
  transform: perspective(225px) rotateY(35deg);
  cursor: pointer;
}

.storytelling-timestamp-time {
  width: 50px !important;
  height: 20px !important;
  position: absolute;
  background-color: #f5f5f5 !important;
  top: 40px;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.storytelling-item-actions-time {
  display: flex;
  position: relative;
}

.storytelling-item-father-fab-time {
  position: absolute;
}

.storytelling-item-fab-time {
  background-color: var(--white) !important;
  width: 30px !important;
  height: 30px !important;
  min-height: 30px !important;
  min-width: 30px !important;
  margin: 5px 4px !important;
  z-index: 8;
}

.storytelling-item-images-scene-time:hover, 
.storytelling-item-images-scene-time:focus {
  z-index: 9;
  transform: scale(1.5);
  transition: 0.5s;
}

.storytelling-item-scripts-scene-time:hover,
.storytelling-item-scripts-scene-time:focus-within {
  z-index: 9;
  transform: scale(1.5);
  transition: 0.5s;
}

.storytelling-item-fab-icon-time {
  color: #616161 !important;
}

.storytelling-selected-item-icon-time {
  color: #333 !important;
  font-size: 2.15em !important;
  animation: fadeInLeft 1s;
}

.storytelling-arrow-item-icon-time {
  animation: fadeInDown 1s;
  color: #757575 !important;
}

.storytelling-selected-empty-container-time {
  background-color: #00534b90 !important;
  z-index: 7;
  position: absolute;
  width: 2px;
  height: calc(115px);
  top: -15px;
}

.storytelling-selected-script-container-time {
  background-color: #17599c90 !important;
  z-index: 6;
  position: absolute;
  width: 2px;
  height: calc(150px);
  bottom: -50px;
}

.storytelling-media-preview-container-time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 0;
}

.storytelling-media-button-time {
  margin: 0 0.25vw !important;
  margin-top: 8px !important;
  letter-spacing: 1px !important;
  font-size: 1.2em !important;
}

.storytelling-image-library-time {
  background-color: #2e3030;
  width: 21vw;
  height: 171px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0.5vh 0.4vw;
}

.storytelling-media-image-time {
  align-content: center;
  width: 450px;
  height: 297px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.storytelling-media-image1-time {
  align-content: center;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.storytelling-media-audio-time {
  width: 470px;
  height: 5vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  display: flex;
  align-items: center;
  animation: fadeInDown 0.5s;
}

.storytelling-player-image-container-time {
  width: calc(100vw) !important;
  height: calc(100vh - var(--app-bar-height)) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.5s;
  display: table;
  position: fixed;
  white-space: nowrap;
}

.storytelling-player-description-time {
  width: 98vw;
  padding: 1.5vh 1vw;
  position: absolute;
  align-items: center;
  letter-spacing: 1px;
  font-size: 1em;
  text-align: center;
  bottom: 8vh;
  left: 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.65);
}

.storytelling-player-actions-time {
  width: auto;
  padding: 0 2vw;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  animation: fadeInRight 0.5s;
}

.storytelling-player-actions-time .Mui-disabled {
  background-color: #f5f5f5 !important;
}

.storytelling-player-fab-time {
  margin: 0 0.25vw !important;
}

.storytelling-player-button-time {
  margin: 0 0.25vw !important;
  background-color: var(--white) !important;
}

.storytelling-tool-audio-player-time {
  width: 0 !important;
  height: 0 !important;
}

.storytelling-player-fab-icon-time {
  font-size: 2em !important;
}

.storytelling-player-more-menu-icon-time {
  color: var(--white) !important;
}

.storytelling-player-pop-menu-time {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
}

.storytelling-return-button-time {
  position: fixed;
  left: 2.5vw;
  font-size: 1.25em !important;
  letter-spacing: 1px !important;
}

.storytelling-return-icon-time {
  margin-right: 1vw !important;
}

.storytelling-publish-button-time {
  max-width: 25vw !important;
  width: 25vw !important;
  padding: 7.5vh 2.5vw !important;
  margin: 2.5vh 1vw !important;
}

.storytelling-publish-button-time span{
  display: flex !important;
  flex-direction: column !important;
}

.storytelling-publish-button-text-time {
  font-size: 2.5vh !important;
}

.storytelling-publish-icon-time {
  font-size: 3em !important;
  margin-top: 1.5vh !important;
}

.dialog-center-subtitle-time {
  width: calc(100% - 4vw) !important;
  font-size: 1.2em !important;
  color: #333 !important;
  letter-spacing: 1px !important;
  text-align: center !important;
  margin: 1.5vh 2vw !important;
  animation: fadeIn 1s;
}

.storytelling-course-publish-button-time {
  font-size: 0.95em !important;
  letter-spacing: 1px !important;
}

.storytelling-course-activity-publish-button-time {
  font-size: 0.8em !important;
  text-align: justify !important;
  margin-left: 1vw !important;
  margin-right: 1vw !important;
}

.story-item-container-link {
  display: flex !important;
  position: relative !important;
  align-items: center !important;
  width: calc(100% - 2vw) !important;
  margin-top: 1vh !important;
  padding: 1.5vh 1vw !important;
  transition: 0.5s !important;
  animation: fadeInLeft 0.5s !important;
}

.story-item-container-link:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.storytelling-share-btn-group-time .storytelling-share-btn-time {
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.right-click-menu {
  z-index: 1000 !important;
}

.storytelling-facilitators {
  display: flex;
  width: calc(100% - 1.5vw);
  margin-left: 1.5vw;
}

.storytelling-share-btn-group-time:after {
  content: "";
  clear: both;
  display: table;
}

.storytelling-player-frame-container {
  width: 100vw;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.storytelling-player-title {
  margin-bottom: 2vh;
  letter-spacing: 1px;
  font-size: 6em;
  color: rgba(255, 255, 255);
}

.storytelling-player-full-name {
  margin-top: 2vh;
  letter-spacing: 1px;
  font-size: 2em;
  color: rgba(255, 255, 255);
}

.storytelling-player-end-image {
  width: 100vw;
  height: 250px;
  margin-bottom: 8vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.storytelling-player-end-subtitle {
  letter-spacing: 1px;
  font-size: 25px;
}

.storytelling-player-end-footer {
  margin-top: 8vh;
  display: flex;
  align-items: center;
}

.storytelling-player-end-tutor {
  width: 33.33vw;
  white-space: pre-wrap;
  letter-spacing: 1px;
  font-size: 25px;
}

.storytelling-player-end-date {
  width: 33.33vw;
  letter-spacing: 1px;
  font-size: 35px;
}

.storytelling-player-end-copyright {
  width: 33.33vw;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 1080px)  {
  :root {
    --menu-responsive-height: 300px;
  }
  .storytelling-tool-container-time {
    display: inline;
    overflow: hidden;
  }
  .storytelling-work-area-full-time {
    height: calc(100vh - var(--app-bar-height) - var(--menu-responsive-height));
  }
  .storytelling-title-area-time { /* Head and story preview button */
    height: auto;
    width: 35vw;
    flex-direction: column;
    position: absolute;
    justify-content: right;
    border-radius: 10px;
    opacity: 0.85;
    bottom: 15px;
    right: 15px !important;
    z-index: 10;
  }
  .storytelling-work-preview-button-time {
    margin-top: 0vh !important;
    margin-left: 0vw !important;
    letter-spacing: 1px !important;
    font-size: 0.7em !important;
  }
  .storytelling-work-area-title-time {
    display: none !important;
  }
  .storytelling-work-area-time { 
    height: calc(100% - 4vh);
    padding-left: calc(2vw + 124px);
    padding-right: calc(2vw + 124px);
    padding-top: 2vh; 
    padding-bottom: 2vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    justify-content: left;
    z-index: 1;
  }
  .storytelling-actions-button-time {
    width: 65vw;
    left: 2vw !important;
    bottom: calc(var(--menu-responsive-height) + 15px + 1vh) !important;
    display: flex;
    z-index: 12;
  }
  .storytelling-action-button-time {
    margin-right: 0.5vw !important;
    height: 10px !important;
    width: 36px !important;
  }
  .storytelling-menu-container-time {
    width: 100vw;
    height: var(--menu-responsive-height) !important;
    display: block;
    overflow-y: scroll;
  }
  .storytelling-menu-body-full-time { /* Left part */
    width: calc(100% - 1vw);
    padding: 0 0.5vw;
    overflow-y: auto;
  }
  .storytelling-menu-body-aux-time {  /* Midle part */
    width: calc(100% - 1vw);
    padding: 0 0.5vw;
    overflow-y: auto;
  }
  .storytelling-menu-body-tabs-time {
    width: 120px;
  }
  .storytelling-menu-header-time { /* Right part */
    width: calc(100% - 1vw);
    margin: 0 0.5vw;
    display: flex;
  }
  .storytelling-media-button-time {
    width: 30%;
    max-width: 30%;
    margin: 0 0.25vw !important;
    margin-top: 2px !important;
    letter-spacing: 1px !important;
    font-size: 0.8em !important;
  }
  .center-row-public-time {
    width: calc(40% - 15px);
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* story telling object */
  .storytelling-item-full-container-time { /* Main scene  object*/
    margin-top: 100px;
  }
  .storytelling-item-images-scene-time {
    width: 100px !important;
    height: 100px !important;
    bottom: 0px;
    margin-left: 14px;
  }
  .storytelling-item-images-scene-time:hover, 
.storytelling-item-images-scene-time:focus {
  transform: scale(1.2);
}
  .storytelling-item-scripts-scene-time {
    top: 40px;
  }
  .storytelling-item-scripts-scene-time:hover,
  .storytelling-item-scripts-scene-time:focus-within {
    z-index: 15;
  }
  .storytelling-selected-empty-container-time {
    height: calc(100px);
    top: 0px;
  }
  
  .storytelling-selected-script-container-time {
    height: calc(130px);
    bottom: -30px;
  }
  
}