.storytelling-tool-container {
  width: 100vw;
  height: calc(100vh - var(--app-bar-height));
  max-height: calc(100vh - var(--app-bar-height));
  position: relative;
  top: var(--app-bar-height);
  display: flex;
}

.storytelling-tool-link-container {
  width: 100vw;
  height: calc(100vh - var(--app-bar-height));
  max-height: calc(100vh - var(--app-bar-height));
  position: relative;
  display: flex;
  background-color: #000000;
}

.storytelling-tool-play-container {
  width: 100vw;
  height: calc(100vh - var(--app-bar-height));
  max-height: calc(100vh - var(--app-bar-height));
  position: relative;
  top: var(--app-bar-height);
  display: flex;
  background-color: #000000;
}

.storytelling-work-area-full {
  /* width: calc(100vw - 400px); */
  width: calc(100vw - 550px);
  height: calc(100vh - var(--app-bar-height) - 2.5em);
  padding-top: 2.5em;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;
}

.storytelling-work-area {
  padding-top: 2em; 
  padding-bottom: 5vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  position: relative;
}

.storytelling-menu-container {
  width: calc(550px);
  max-height: calc(100vh - var(--app-bar-height));
  position: relative;
}

.storytelling-menu-header {
  width: 100%;
  height: calc(15vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #bdbdbd;
}

.storytelling-menu-body-full{
  width: calc(100%);
  height: calc(85vh - var(--app-bar-height));
  overflow-y: scroll;
}

.storytelling-menu-body {
  width: calc(100% - 2vw);
  padding: 0 1vw;
}

.storytelling-menu-body-aux {
  width: calc(100% - 2vw);
  padding: 0 1vw;
  display: flex;
}

.storytelling-menu-body-tabs {
  width: calc(30%);

}

.storytelling-menu-body-description {
  width: calc(100%);
  padding-left: 0.5vw;
}

.storytelling-menu-title {
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  padding: 0vh 0;
  padding-top: 2vh;
  color: #333;
  font-size: 1.25em;
}

.storytelling-delete-button {
  position: absolute !important;
  left: calc(100vw - 581.75px)!important;
  bottom: 5vh !important;
  animation: zoomIn 1s;
}

.storytelling-work-preview-button {
  position: fixed !important;
  top: calc(var(--app-bar-height) + 2.5em + 4vh) !important;
  left: 2vw !important;
  letter-spacing: 2px !important;
  font-size: 1.15em !important;
  animation: fadeInLeft 0.5s ease-out;
}

.storytelling-item-full-container {
  width: 100%;
  display: flex;
  padding: 0.25vh 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInDown 0.75s;
}

.storytelling-item-row-container {
  width: 100%;
  display: flex;
  padding: 0.25vh 0;
  justify-content: center;
  align-items: center;
  animation: fadeInDown 0.75s;
}

.storytelling-item-fab {
  background-color: var(--white) !important;
  width: 30px !important;
  height: 30px !important;
  min-height: 30px !important;
  min-width: 30px !important;
  margin: 0 0.5vw !important;
}

.storytelling-item-node-start {
  width: 1em !important;
  height: 1em !important;
  background-color: var(--primary) !important;
  margin: 0 1vw !important;
  transition: 0.25s !important;
}

.storytelling-item-node-scene {
  width: 1.75em !important;
  height: 1em !important;
  background-color: #ff9800 !important;
  margin: 0 1vw !important;
  transition: 0.25s !important;
}

.storytelling-item-node-end {
  width: 1.25em !important;
  height: 1em !important;
  background-color: #ef5350 !important;
  margin: 0 1vw !important;
  transition: 0.25s !important;
}

.storytelling-item-node-start:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.storytelling-item-node-scene:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.storytelling-item-node-end:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.storytelling-item-fab-icon {
  color: #616161 !important;
}

.storytelling-selected-item-icon {
  color: #333 !important;
  font-size: 2.15em !important;
  animation: fadeInLeft 1s;
}

.storytelling-work-area-title {
  letter-spacing: 1px;
  font-size: 2.5em;
  font-weight: 100;
  color: #333;
  position: fixed;
  top: calc(var(--app-bar-height));
  text-transform: uppercase;
  padding: 2vh 2vw;
  animation: fadeInLeft 1.5s;
}

.storytelling-arrow-item-icon {
  animation: fadeInDown 1s;
  color: #757575 !important;
}
.storytelling-selected-empty-container {
  font-size: 2.15em !important;
  width: 34px;
  height: 34px;
}

.storytelling-item-name {
  letter-spacing: 1px;
  font-size: 0.95em;
  cursor: pointer;
}

.storytelling-media-preview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh 0;
}

.storytelling-media-button {
  margin: 0 0.25vw !important;
  margin-top: 1.5vh !important;
  letter-spacing: 1px !important;
  font-size: 0.85em !important;
}

.storytelling-image-library {
    background-color: #2e3030;
    width: 304px;
    height: 171px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5px 5px;
}

.storytelling-media-image {
  align-content: center;
  width: 450px;
  height: 297px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.storytelling-media-image1 {
  align-content: center;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.storytelling-media-audio {
  width: 470px;
  height: 5vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  display: flex;
  align-items: center;
  animation: fadeInDown 0.5s;
}

.storytelling-player-image-container {
  width: calc(100vw) !important;
  height: calc(100vh - var(--app-bar-height)) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.5s;
  display: table;
  position: fixed;
  white-space: nowrap;
}

.storytelling-player-description {
  width: 98vw;
  padding: 1.5vh 1vw;
  position: absolute;
  align-items: center;
  letter-spacing: 1px;
  font-size: 1em;
  text-align: center;
  bottom: 8vh;
  left: 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.65);
}

.storytelling-player-actions {
  width: auto;
  padding: 0 2vw;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  animation: fadeInRight 0.5s;
}

.storytelling-player-actions .Mui-disabled {
  background-color: #f5f5f5 !important;
}

.storytelling-player-fab {
  margin: 0 0.25vw !important;
}

.storytelling-player-button {
  margin: 0 0.25vw !important;
  background-color: var(--white) !important;
}

.storytelling-tool-audio-player {
  width: 0 !important;
  height: 0 !important;
}

.storytelling-player-fab-icon {
  font-size: 2em !important;
}

.storytelling-player-more-menu-icon {
  color: var(--white) !important;
}

.storytelling-player-pop-menu {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
}

.storytelling-return-button {
  position: fixed;
  left: 2.5vw;
  font-size: 1.25em !important;
  letter-spacing: 1px !important;
}

.storytelling-return-icon {
  margin-right: 1vw !important;
}

.storytelling-publish-button {
  max-width: 25vw !important;
  width: 25vw !important;
  padding: 7.5vh 2.5vw !important;
  margin: 2.5vh 1vw !important;
}

.storytelling-publish-button span{
  display: flex !important;
  flex-direction: column !important;
}

.storytelling-publish-button-text {
  font-size: 2.5vh !important;
}

.storytelling-publish-icon {
  font-size: 3em !important;
  margin-top: 1.5vh !important;
}

.dialog-center-subtitle {
  width: calc(100% - 4vw) !important;
  font-size: 1.2em !important;
  color: #333 !important;
  letter-spacing: 1px !important;
  text-align: center !important;
  margin: 1.5vh 2vw !important;
  animation: fadeIn 1s;
}

.storytelling-course-publish-button {
  font-size: 0.95em !important;
  letter-spacing: 1px !important;
}

.storytelling-course-activity-publish-button {
  font-size: 0.8em !important;
  text-align: justify !important;
  margin-left: 1vw !important;
  margin-right: 1vw !important;
}

.story-item-container {
  display: flex !important;
  position: relative !important;
  align-items: center !important;
  width: 40vw !important;
  padding: 1.5vh 1vw !important;
  transition: 0.5s !important;
  animation: fadeInLeft 0.5s !important;
}

.story-item-container:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.story-item-icon {
  margin-right: 0.5vw !important;
}

.story-item-text-primary {
  letter-spacing: 1px;
  font-size: 0.95em;
  margin-left: 0.5vw;
  color: #333;
}

.story-item-text-secondary {
  letter-spacing: 1px;
  font-size: 0.85em;
  color: #616161;
  margin-left: 1vw;
}

.story-item-button {
  position: absolute !important;
  letter-spacing: 1px !important;
  text-decoration: none !important;
  right: 1vw !important;
}

.storytelling-link-container {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.storytelling-share-btn-group .storytelling-share-btn {
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.storytelling-share-btn-group:after {
  content: "";
  clear: both;
  display: table;
}
