.courses-table-container {
  width: 80vw;
  position: relative;
  left: 10vw;
  margin-top: 10vh;
}

.table-tools-container {
  display: flex !important;
  width: 100%;
}

.add-table-button {
  font-size: 0.8em !important;
  width: 12vw;
}
