/* General Styles */

:root {
  --template-row: 200px;
}

.template-container {
  background-color: white;
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: scroll;
}

.template-container-student {
  background-color: white;
  width: 100%;
  height: auto;
}

.template-background-text {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center; 
  color: #333;
  overflow: hidden;
}

.template-row {
  display: flex;
}

.template-row-item {
  width: 50% !important;
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
  border: 1px solid black;
}

.template-column-item {
  width: calc(100% - 2px) !important;
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
  border: 1px solid black;
}

.template-row-item-student {
  width: 50% !important;
  min-height: var(--template-row) !important;
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
}

.template-column-item-student {
  width: 100% !important;
  min-height: var(--template-row) !important;
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
}

.template-media-gallery {
  display: flex;
  flex-direction: column;
  width: calc(100% - 10px);
  padding: 5px;
  margin-bottom: 30px;
  justify-content: center;
  color: white;
  background-color: #121212;
}

.template-child-gallery {
  width: calc(100%) !important;
  margin: 0px !important;
}

.template-title-gallery {
  color: white;
  font-size: 1.5em;
  margin: 10px 10px;
}

.template-instructions-gallery {
  width: calc(100% - 10px);
  margin: 5px 5px;
}

.template-paper-gallery-preview {
  width: 300px;
  height: 300px;
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.template-paper-gallery-preview:hover,
.template-paper-gallery-preview:focus-within {
  transform: scale(1.05);
  transition: 0.25s;
}

.template-paper-title-gallery-preview {
  width: calc(100% - 12px);
  height: 20px;
  background-color: #424242 !important;
  background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%);
  padding: 6px;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}

.template-image-gallery-preview {
  width: 300px;
  height: 268px;
  object-fit: cover;
}

.template-video-gallery-preview {
  width: 300px !important;
  height: 268px !important;
  max-width: 300px !important;
  max-height: 268px !important;
  overflow: hidden !important;  
  background-color: #424242 !important;
}

.template-video-preview-external {
  width: 300px !important;
  height: 268px !important;
  overflow: hidden !important;
  background-color: #424242 !important;
}

.template-video-preview-external-overlay {
  position: absolute;
  bottom: 32px;
  width: 300px !important;
  height: 268px !important;
  background-color: rgba(255, 255, 255, 0);
}

.template-play-icon {
  color: var(--secondary);
  background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 100%);
  border-radius: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.template-play-icon-solo {
  color: var(--secondary);
  background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 100%);
  border-radius: 60px !important;
  width: 60px !important;
  height: 60px !important;
  position: absolute;
  top: 15px;
  left: calc(0.5vw + 20px);
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

ul > li {
  margin-left: 1em;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1080px) {
  .template-row {
    display: inline;
  }
  .template-row-item {
    width: calc(100% - 2px) !important;
  }
  .template-play-icon-solo {
    top: 30px;
    left: 15px;
  }
} 
