.list-input-label {
  width: 100%;
  text-align: center;
  margin: 3vh 0;
  animation: fadeIn 1s;
}

.input-list-container {
  width: 50vw;
  position: relative;
  left: 25vw;
  margin-top: 2vh;
  padding-bottom: 2.5vh;
}

.transfer-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-list-container {
  width: calc(17.5vw - 15px) !important;
  height: 30vh;
  max-height: 30vh !important;
  overflow-y: scroll;
  box-shadow: none !important;
  background-color: #fafafa !important;
  padding-top: 10px !important;
}

.right-list-container div{
  background-color: #f5f5f5 !important;
}

.check-list-item {
  padding: 0 !important;
  padding-left: 10px !important;
  transition: 0.5s;
  animation: fadeInLeft 0.5s;
}

.transfer-list {
  padding-top: 0 !important;
}
