
.title{
   display: flex;
   justify-content: center;
   align-items: center;
}
.crnoutcomeinfo{
   overflow-y: auto;
   background-color: #fff;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   padding-left: 50px;
   padding-right: 20px;
   border-radius: 3px;
   box-shadow: 0 1px 45px #ccc;
   max-width: 995px;
   max-height: auto;
}
.crnheading{
   margin-top: 15px;
   margin-bottom: 20px;
 
}
.crnheading1{
   display: block;
   margin-top: 15px;
   margin-bottom: 15px;
   justify-content: center;
   align-items: center;
}
.description{
   margin-bottom:.0001pt
}
.descriptiontext{
   font-size:12.0pt;
   line-height:115%;
   font-family:"Arial", sans-serif;
   padding-right: 40px;
}
.liststyle{
   padding-left: 10px;
   line-height: 80%;
}

.resources{
   list-style-type: circle;
  line-height: 1.9;
}
.resourcesbox{
  line-height: 1.9;
  border-radius:2px;
  border: 2px solid #a9a9a9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.listresources{
   border-radius:2px;
   box-shadow:0px 0px 10px #cccccc;
   list-style:none;
   display: flex;
   flex-wrap: wrap;
   border:  #a9a9a9;
  padding: 15px;
  background: #dcdcdc;
  margin: 7px;
  background-clip: border-box; 
}
.list{
   display: flex;
   flex-direction: wrap;
   justify-content: flex-start;
   align-items: center;

}
.info{
   font-weight: bold;
   text-align: center;
   display: block;
   justify-content: center;
   align-items: center;
   font-size:14.0pt;
   line-height:115%;
   font-family:"Arial", sans-serif
}
.infosub{
   font-weight: bold;
   text-align: center;
   display: block;
   justify-content: center;
   align-items: center;
   font-size:12.0pt;
   line-height:115%;
   font-family:"Arial", sans-serif
}
.infocreated{
   font-style: italic;
   font-weight: bold;
   text-align: center;
   display: block;
   justify-content: center;
   align-items: center;
   font-size:9.0pt;
   line-height:115%;
   font-family:"Arial", sans-serif
}
.previewcontent{
   margin-top: 10px;
}

.boxResource{
   padding: 10px 10px 10px 10px;
   justify-content: center;
   align-items: center;
}