@import "draft-js/dist/Draft";
@import "draftail/dist/draftail";
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif !important;
}

html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
}

main {
  height: 100vh;
}

.center-container {
  width: auto;
  height: auto;
  z-index: 6;
}

.ScrollUpButton__Container ,
.ScrollUpButton__Toggled {
  background-color: #FFF !important;
  background-image: url(scroll-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
}

.ScrollUpButton__Container svg,
.ScrollUpButton__Toggled svg {
  fill: transparent !important;
}

/* width */
::-webkit-scrollbar {
  width: 7.5px;
  height: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bdbdbd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  transition: 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

th {
  font-weight: normal !important;
}

.SeliStoriesDiv{
  margin-left: 50px;
}

.center-button-container {
  width: 100%;
  padding: 1vh 0;
  display: flex;
  justify-content: center
}

.advice-link-container {
  width: 95%;
  padding: 1vh 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.advice-link {
  margin-left: 0.25vw !important;
  padding: 0 !important;
  font-size: 0.85em !important;
}

.advice-link-text {
  font-size: 0.85em;
}

.menu-item {
  padding-right: 1vw !important;
  display: flex;
}

.menu-item-text {
  width: 8vw !important;
}

.menu-icon-check {
  fill: #4caf50 !important;
  animation: zoomIn 0.5s;
}

.menu-icon {
  fill: #616161;
}

.accessibError{
  color: #e53935;
}
.accessibValid{
  color: #4caf50;
}
 /*TODO move this blocks to the right file */
 /* BEGIN style for images*/
 figure{
    color: #333; /* TODO: test purpose only*/
    font-size: 13px;
    text-align: center;
    padding: 5px;
 }

 figure.caption-left{
  display: flex;
  /*align-items: center;*/
 }

 figure.caption-rigth{
  display: flex;
  /*align-items: center;*/
 }

 figure.caption-bottom, figure.caption-bottom>img{
    display: inline-block;
 }


 figure.caption-top, figure.caption-top>img{
    display: inline-block;
 }

figure.group
{
    display: inline-table;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box ;
    box-sizing: border-box ;
}
figure.group, figure.group>figcaption {
    padding: 10px 12px 12px;
    display: table-caption;
    caption-side: bottom;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box ;
    box-sizing: border-box ;
}

figure.group.caption-bottom, figure.group.caption-bottom>figcaption {
    display: table-caption;
    caption-side: bottom;
}
 /* END style for images*/

 /* BEGIN style for Image Caption Editor*/

.ImgCaptionEditor-root {
  background: #fff;
  border: 1px solid #ddd;

  padding: 0px;
  max-height: 300px;
  width: 100%;
}


.ImgCaptionEditor-controls {
  margin: 0 5px 0 5px;
  user-select: none;
}

.ImgCaptionEditor-styleButton{
  color: #999;
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  /* min-width: 24px;
  min-height: 24px; */
  border: none!important;
  /* background: white; */
  margin-right: 16px
}

.ImgCaptionEditor-activeButton {
  color: #5890ff;
}

.ImgCaptionEditor-editor {
  /* border-top: 1px solid #ddd; */
  border-color: rgba(0, 0, 0, 0.23);
  cursor: text;
  font-size: 16px;
  /* height: 200px; */

  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 1px 0 0;
  padding: 0;
  /* position: absolute; */
  transition: padding-left 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,border-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,border-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.ImgCaptionEditor-label{
  width: fit-content;
  user-select: none;
  border: none;

  /*root*/
  transform-origin: top left;
  display: block;
  /*animated*/
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  /*outlined*/
  z-index: 1;
  transform: translate(14px, 20px) scale(1);
  pointer-events: none;
}

.ImgCaptionEditor-labelShrink {
    transform: translate(14px, -10px) scale(0.75);
    background-color: var(--white);
}

.ImgCaptionEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.public-DraftEditorPlaceholder-root {
  margin-top: 0px;
  margin-left: 14px;
  user-select: none;
}

.ImgCaptionEditor-editor .public-DraftEditor-content {
}

.ImgCaptionEditor-editor .public-DraftEditor-content{
  min-height: 50px;
  max-height: 100px;
  height: 100px;
  padding: 0px 0px !important;
  text-indent: 2vw;
  /* margin: 0 -15px -15px; */
  overflow-y: auto;

  /* border-width: thin; */
  /* border-style: ridge; */
  /* width: 100%;
   */
}

.ImgCaptionEditor-focused{
  border-width: 2px;
  border-color: #3f51b5;

  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 1px 0 0;
  padding: 0;
  /* position: absolute; */
  transition: padding-left 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,border-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,border-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-style: solid;
  border-radius: 4px;
}

.ImgCaptionEditor-labelFocused,
.ImgCaptionEditor-labelFocused span
{
  color: #3f51b5;
}

.ImgCaptionEditor-error{
  border-color: #f44336;
}

.ImgCaptionEditor-labelError,
.ImgCaptionEditor-labelError span
{
  color: #f44336;
}

.ImgCaptionEditor-editor blockquote {
  display:inline-block;;
  max-width: 80%;
  border:solid 1em #ccc;
  margin:0;
  padding:1em;
  position:relative;
}
.ImgCaptionEditor-editor blockquote:before {
  background-color: white;
  bottom: -1em;
  content: "";
  left: 2em;
  position: absolute;
  right: 2em;
  top: -1em;
}

.hide{
  display: none!important;
}


