@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif !important;
}

body {
  overflow-x: hidden;
}

.center-container {
  width: auto;
  height: auto;
  z-index: 6;
}

{
  width: var(--scroll-up-size);
  height: var(--scroll-up-size);
  position: fixed;
  right: var(--scroll-margin);
  bottom: var(--scroll-margin);
  z-index: 5000;
  background-image: url(scroll-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.25s;
}

.ScrollUpButton__Container ,
.ScrollUpButton__Toggled {
  background-color: #FFF !important;
  background-image: url(scroll-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
}

.ScrollUpButton__Container svg,
.ScrollUpButton__Toggled svg {
  fill: transparent !important;
}

/* width */
::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  transition: 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

th {
  font-weight: normal !important;
}
