# This is a basic workflow to help you get started with Actions

name: main

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  issues:
    types: [labeled, unlabeled]
  pull_request:
    types: [labeled, unlabeled]
  project_card:
    types: [moved]
env:
  GITHUB_TOKEN: ${{ secrets.MY_ACTION_TOKEN }}
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  triage: #GitHub actions that automatically labels Issues or PullRequests based on project card moves
#    needs: [assign_one_project]
#    if: github.event_name == 'project_card'
    name: Auto card labeler
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # NOTE @v2 uses the token as an auth http header. Set it to
          # a Personal Access Token instead of secrets.GITHUB_TOKEN
          # so that tag pushes trigger repo push events.
          token: ${{ secrets.MY_ACTION_TOKEN }}
      - uses: technote-space/auto-card-labeler@v1
 
  comment: #Label triggered GitHub Actions for posting a template message, automatically close or reopen issues or pull requests
    needs: [triage, assign_one_project]
    if: github.event.action == 'labeled' || github.event.action == 'unlabeled' 
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
        with:
          ref: master
          token: ${{ secrets.MY_ACTION_TOKEN }}

      - name: Label Commenter
        uses: peaceiris/actions-label-commenter@v1.3.2
        with:
          github_token: ${{ secrets.MY_ACTION_TOKEN }}
          config_file: .github/label-commenter-config01.yml
  assign_one_project:
    needs: triage
 #   if: github.event_name != 'project_card' # && github.event.action == 'labeled'
    runs-on: ubuntu-latest
    name: AssignToProject
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.MY_ACTION_TOKEN }}
      
      - name: Assign 'FEATURE REQUEST' to 'TRIAGE - FEATURE REQUEST'
        uses: srggrs/assign-one-project-github-action@1.2.0
        if: contains(github.event.issue.labels.*.name, 'Feature Request')
        with:
          project: 'https://github.com/ecureuill/SELIProject/projects/3'
          column_name: 'NEEDS TRIAGE'
      - name: Assign 'BUG', 'ISSUE',' BUG ON NEXT RELEASE' label to 'TRIAGE - Bugs'
        uses: srggrs/assign-one-project-github-action@1.2.0
        if: |
          contains(github.event.issue.labels.*.name, 'bug') ||
          contains(github.event.issue.labels.*.name, 'bug on next release') ||
          contains(github.event.issue.labels.*.name, 'issues')
        with:
          project: 'https://github.com/ecureuill/SELIProject/projects/1'
          column_name: 'NEEDS TRIAGE'
        
      - name: Assign '1 - PLANNING' label to 'FEATURE SPECIFICATION'
        uses: srggrs/assign-one-project-github-action@1.2.0
        if: contains(github.event.issue.labels.*.name, '1 - Planning')
        with:
          project: 'https://github.com/ecureuill/SELIProject/projects/4'
          column_name: 'PENDING FEATURE REQUEST'

      - name: Assign '2 - READY' label to 'DEVELOPMENT CYCLE'
        uses: srggrs/assign-one-project-github-action@1.2.0
        if: contains(github.event.issue.labels.*.name, '2 - Ready')
        with:
          project: 'https://github.com/ecureuill/SELIProject/projects/2'
          column_name: 'TO-DO'

      - name: Assign 'need tester' label to 'FUNCTIONALITY TEST CYCLE'
        uses: srggrs/assign-one-project-github-action@1.2.0
        if: contains(github.event.issue.labels.*.name, 'need tester')
        with:
          project: 'https://github.com/ecureuill/SELIProject/projects/6'
          column_name: 'TO-DO'

      - name: Assign 'Pull Request' to 'PULL REQUEST CYCLE'
        uses: srggrs/assign-one-project-github-action@1.2.0
        if: |
          github.event_name == 'pull_request' &&
          github.event.action == 'opened'
        with:
          project: 'https://github.com/ecureuill/SELIProject/projects/7'
          column_name: 'In progress'
